[2017-10-01 05:00] Panoplos opened #5821 "LESS npm package missing 'themes/*/assets'"
Linking here due to inactivity on the less git.

https://github.com/Semantic-Org/Semantic-UI-LESS/issues/28

[2017-10-01 21:31] WallaceMielniczki opened #5822 "[Dropdown] define default value on multiple dropdown"
http://jsfiddle.net/WallaceMielniczki/ca0rovs3/87/

[2017-10-02 03:14] erlangp opened #5823 "[question] how to prevent memory leaks in SUI component's callbacks"
how to prevent memory leaks in SUI component's callbacks? Thanks

[2017-10-02 08:05] karak opened #5824 "[Form Validation] Callbacks are never called"
Hi.
I met curious behavior on form validation module.

Form 'error' state survives and onSuccess/onFailure are never called after following procedure:

1. Create Form with radio buttons and submit button with 'checked' validation.
1. Browse on *Internet Explorer 11*.
1. Submit by *hitting [Enter]* to invalidate the radio.
1. Submit again by hitting the key or press the button, while check/uncheck

[2017-10-02 14:36] jackttcoms opened #5825 "Remove borders between menu items"
Is it possible to remove borders between menu lines and just have padding between them? thanks and a question is when are you releasing new updates for semantic ui?

`<div class="ui large top menu attached">
            <a class="toc item custom_fullweight">
              <i class="sidebar icon"></i> Menu
            </a>

  <div class="right menu">
       <a class="item mobile hidden">gfhfhfh</a>

[2017-10-02 17:16] ylto opened #5826 "Cannot load icon"
I use ember 2, with semantic UI installed on bower folder. Can't get the icon, any idea?

The error message:
Failed GET http://localhost:4200/assets/themes/default/assets/fonts/icons.woff2
Failed GET http://localhost:4200/assets/themes/default/assets/fonts/icons.woff
Failed GET http://localhost:4200/assets/themes/default/assets/fonts/icons.ttf

[2017-10-02 22:50] AustinDavies opened #5827 "[Sidebar] Overflow set to none for "pusher" class when sidebar is closed."
I noticed that after I closed the sidebar on my site I was no longer able to scroll vertically anymore. After further investigating I found out that the pusher class was receiving CSS updates with one of those being an update to the overflow property which gets set to none. For an example of my site body structure here you go:
[code]

[2017-10-03 00:09] betimer opened #5828 "Cannot install semantic-ui"
Cannot install semantic-ui package:
OS: Win 10
node: 8.6
npm: 5.4.2

C:\Repo\vcm-spa>npm install semantic-ui --save
npm WARN deprecated gulp-clean-css@2.4.0: breaking changes from clean-css 4.x. Please install gulp-clean-css 3.x
npm WARN deprecated minimatch@2.0.10: Please update to minimatch 3.0.2 or higher to avoid a RegExp DoS issue
npm WARN deprecated minimatch@0.2.14: Please update to minimat

[2017-10-03 00:17] ylto commented on #5828
Delete `node_modules` folder in semantic ui folder then `npm install`

[2017-10-03 01:50] betimer commented on #5828
@ylto Same result.
I even create a new proj, and do the npm i semantic-ui, got the same result.

Not sure should it be semantic-ui issue or node version issue (8.6.0)

[2017-10-03 01:55] ylto commented on #5828
Have your run `gulp build` in your `semantic/` folder after npm install?

[2017-10-03 02:20] betimer commented on #5828
@ylto It's before that stage. It failed when doing `npm install`

`PS C:\Repo\learn-js\random\del6> npm i semantic-ui --save
npm WARN deprecated minimatch@2.0.10: Please update to minimatch 3.0.2 or higher to avoid a RegExp DoS issue
npm WARN deprecated minimatch@0.2.14: Please update to minimatch 3.0.2 or higher to avoid a RegExp DoS issue
npm WARN deprecated graceful-fs@1.2.3: graceful-fs v3.0.0

[2017-10-03 02:28] ylto commented on #5828
Try bower. `bower install semantic-ui`

[2017-10-03 17:42] nilsi commented on #3919
Same here, also seeing this problem in Safari dues to margins. Any solution?

[2017-10-03 17:45] davestewart opened #5829 "Get variable references working properly with Webstorm"
Hi there,

I've installed the Semantic UI package via NPM, with a view to building our own stylesheets.

On initial install, and after setting the /src folder as a resource root, it seems that lots of the variables still can not be fully referenced by PHPStorm:

![screenshot](https://intellij-support.jetbrains.com/hc/user_images/hGiC4vbcmXGVdldmy4cTIQ.png)

Is there a known setup / configuration f

[2017-10-03 20:36] flamincode commented on #1340
Also Having this problem? My dropdown options appear underneath other content. Making the dropdown a search dropdown solves the issue, but mine is not a search dropdown.

[2017-10-03 21:42] davestewart commented on #3374
Seems like hardcoded themes could work if symbolic links were used?

[2017-10-04 09:57] LordAkkarin opened #5830 "[Tab] Menu should reflect actual tab state within nested menus"
Tabs currently do not seem to correctly update the "active" class on menu items within nested menus (such as right menus).

### Reproduction Steps
1. Create a standard Tab Layout
1. Nest another menu (such as a right menu) into the main tab menu

For instance: https://jsfiddle.net/dotStart/u5e7cy7g/1/

### Workaround
In the meantime, this issue can be prevented by simply implementing a custom logi

[2017-10-04 12:51] lbssousa opened #5831 "Modal close icon displays with incorrect color in basic fullscreen mode"
With latest Semantic-UI CSS, the close icon of a fullscreen modal is always displayed in black, regardless the modal is basic or not. For basic fullscreen modals with default dimmer, the close icon is almost invisible.

See an example: https://jsfiddle.net/xhrzhygk/

A simple CSS addition like this could fix the problem:
[code]

[2017-10-04 15:17] Tsourdox commented on #3459
The "css way" would look something like this:

[code]

[2017-10-04 15:19] paschalidi commented on #3459
What if I want to do something like this
[code]
I have the feeling that then the two divs will override each other, or ?

[2017-10-04 15:24] Vitucho commented on #3261
This implementation beholds change done to the ngModel programatically gets reflected properly https://codepen.io/burnz/pen/xwvgVY.. hope it helps! Is more or less like you guys done

[2017-10-04 17:18] GammaGames commented on #4482
I think this would be a handy inclusion! I had to add `.ui.move.reveal > .text.content` to my css to allow wrapping text

[2017-10-04 19:41] bamsarker commented on #5827
I'm having the same issue. Opening the sidebar adds the `pushable` class to the body, which enables the `.pushable>.pusher` styles, including `overflow: hidden;`.

I could removed the "pushable" class from the body, but if Semantic is adding it, it seems like Semantic should be removing it.

@AustinDavies I'm assuming the `pursher` class is a typo in your example above!

[2017-10-04 20:51] AustinDavies commented on #5827
@bamsarker Yes, the "pursher" class is a typo. I think part of the spec for the sidebar states that you need to have a pusher class in the same section in which your website content resides (most of the time this would just be the <body> as this is the safest/most logical fallback case).

[2017-10-05 02:19] jlukic commented on #5829
I believe the IDE suggestions on your link are correct. We use non-standard extensions for some less files `.variables` `.overrides` and `.config`.

[2017-10-05 07:36] davestewart commented on #5829
Hey Jack,

Thanks for the reply.

It's a shame they're not saved as

[code]

then it would be really easy to override in PHPStorm.

I can probably hack the build files, as we'll be sticking with one build, but would be nice to have in core.

[2017-10-05 07:46] davestewart opened #5833 "Creating a stripped-down, single-theme, build"
Hi there,

We're 3 months into a site build with the compiled Semantic UI theme, and now it's time for us to skin the default look and feel.

We've installed Semantic UI via npm, and now have a whole bunch of folders, themes, gulp tasks etc.

What we really want is the minimum folders required for us to build out – as we won't the flexibility of multiple themes – so just one set of style folders a

[2017-10-05 07:48] buckle2000 opened #5834 "Need ui padded container"
The ui container has no top/bottom padding. It looks awful when the content is just near the edge of screen.

[code]

Here's a preview: https://codepen.io/anon/pen/KXZdvK

[2017-10-05 08:10] shadoWalker89 opened #5835 "Skip install option in the interactive prompt is ignored"
Hi,

When i deploy a project and run npm install knowing that i have the `semantic.json` at the root, the interactive install prompt give two options to install or to skip.

Choosing `skip install` starts the install.

My server is `CentOS release 6.9 (Final)`

[2017-10-05 10:02] phuong3030 commented on #1410
@Trouche You can use Popup inside Menu.Item instead.

[2017-10-05 11:35] nickcarpenter commented on #5552
I can answer this. I use Semantic UI with ASP.NET and there are a few tricks you need to know.

When you apply 'ui modal' to an element, Semantic UI will detach it from the DOM and reinsert it before your BODY tag closes.  Once of the great annoyances of ASP.NET is that you can only have 1 form on the page and all your controls must be inside it to work.

When you trigger your modal, your form ele

[2017-10-05 20:25] tripflex opened #5836 "[Dropdown] Value from input should set selected, even if values set from JS"
Sandbox Demo:
https://jsfiddle.net/tripflex/zr07hLpu/

When initializing a dropdown using the new `values` parameter, if a value is set in a hidden input, it will never be used or set as selected.  Even when `selected` is set to `true` in the values passed to `.dropdown()` it will take precedence over any value set in the hidden `input` (when using `allowAdditions`)

This is due to `module.change.

[2017-10-06 00:06] erlangp opened #5837 "[Menu] Add stackable event 'on layout position changed'"
[Menu] Add stackable event 'on layout position changed'
Thanks!

[2017-10-06 13:29] afogelberg commented on #1986
I would say that right float for a toggle checkbox is a very common use case. It is especially common in settings menus.

[2017-10-06 18:04] indreksiitan commented on #5768
Since nested modals seem to be allowed by concept, I would label this as a bug, not an enhancement.

[2017-10-06 18:05] indreksiitan commented on #5770
I would call this a bug, not an enhancement. Since nested modals are supported by concept, the 2nd and next modals should behave like modals.

[2017-10-07 03:42] rhymiz opened #5838 "No default jsDelivr CDN file set"
[This package](https://www.jsdelivr.com/package/npm/semantic-ui) doesn't have a [default file](https://www.jsdelivr.com/features#publishing-packages) set. You can set it via `jsdelivr`, `browser`, or `main` field in `package.json`

[2017-10-07 06:34] Banandrew commented on #5838
Hi @rhymiz, thank you, we’re aware—it’s coming with the next patch: #5667.

[2017-10-07 06:34] #5838 closed

[2017-10-07 06:41] Banandrew commented on #5770
Hi @indreksiitan, could you please fork [this JSFiddle](https://jsfiddle.net/ca0rovs3/) to create a test case? The Dropbox link is unavailable, and we need a test case to be available at all times until the issue’s fixed. I’ll update labels and the milestone once the test case is up.

[2017-10-07 06:44] Banandrew commented on #5837
Hi @erlangp, the component doesn’t have any scripted behaviour related directly to it, could you please elaborate and explain your use case?

[2017-10-07 06:49] Banandrew commented on #5823
Hi @erlangp,

Thank you for posting, but although it’s a valid usage question, we’ve limited GitHub Issues to bug reports and feature requests, keeping the board more manageable for maintainers; see the [contributing guidelines](https://github.com/Semantic-Org/Semantic-UI/blob/master/CONTRIBUTING.md) for more information on what kind of posts should find themselves into the GitHub Issues board.

T

[2017-10-07 06:49] #5823 closed

[2017-10-07 07:24] Banandrew commented on #5829
Hi @davestewart, did Elena’s suggestion to register these files as LESS work?

[2017-10-07 09:26] camueller opened #5839 "One click to open dropdown opens dropdown but closes immediately afterwards"
Using a Javascript initialized dropdown one click top open the dropdown causes the dropdown to open but closes immediately afterwards.

In Chrome 60.0.3112.101 this happens for every click making it almost impossible to select an entry.
**Workaround:** A long-click to open the dropdown causes also the open followed by immediate close but then the mouse button is released the dropdown opens again a

[2017-10-07 09:27] Banandrew commented on #5828
Hi @betimer, sorry for the delay, I couldn’t reproduce on NPM `5.4.2`; `gulp-header` is in SUI’s dependencies, and I’m not sure why it’s not installing. Run `npm install gulp-header --save-dev` to see if fixes the issue.

[2017-10-07 09:36] Banandrew commented on #5839
Hi @camueller, could you please try initializing a dropdown on [pre-existing HTML](https://semantic-ui.com/modules/dropdown.html#/usage) instead of initializing it on a `select` element directly?

[2017-10-07 09:37] Banandrew commented on #5826
Hi @ylto, sorry for the delay, did you put these icon fonts under that path?

[2017-10-07 09:49] Banandrew commented on #5825
Hi @jackttcoms, sorry for the delay, add a `.borderless` class to your menu. SUI releases aren’t on a schedule, please see [a list of releases](https://github.com/Semantic-Org/Semantic-UI/releases) to get a rough idea on when to expect another one.

[2017-10-07 09:49] #5825 closed

[2017-10-07 09:50] Banandrew commented on #5797
@indreksiitan Reminding you about the test case.

[2017-10-07 09:53] indreksiitan commented on #5797
Yes, I haven't forgotten, just been busy. I'll try to set up a public copy of my framework where it's easier for me to reproduce these issues.

[2017-10-07 09:59] camueller commented on #5839
I created a new plunk using pre-existing HTML as shown in the example from [pre-existing HTML](https://semantic-ui.com/modules/dropdown.html#/usage). It shows the same close-after-open behavior:

https://plnkr.co/vneK8mHTUamMXbR3Kuzd

[2017-10-07 10:13] Banandrew commented on #5839
@camueller I know nothing about Angular, but if you initialize a dropdown with debugging enabled:
[code]
`ngAfterViewChecked()` triggers the dropdown initialization over and over, which you probably don’t want to do—please see the console output after you enabled the debugging. This obviously interferes with the dropdown’s behavior, so I’m assuming it has something to do with Angular’s lifecycle,

[2017-10-07 10:13] #5839 closed

[2017-10-07 10:36] Banandrew commented on #5822
Hi @WallaceMielniczki, sorry for the delay, there’s a couple of options:
* Initialize with `set selected`: `$('.ui.dropdown').dropdown('set selected', 2017)`.
* Initialize with JavaScript only using the `values` property, [here’s an example](http://jsfiddle.net/Banandrew/4vgvv2mb/). Version `2.2.12` is required.

[2017-10-07 10:36] #5822 closed

[2017-10-07 10:47] Banandrew commented on #5821
Hi @Panoplos, sorry for the delay, but I can’t seem to reproduce, and all assets are there. Did you manage to get it fixed during the week?

[2017-10-07 11:09] jackttcoms opened #5840 "Flex Menu"
With this other framework they have a feature on the menu that using flex pushes it to the bottom is this possible with semantic ui

`<nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">
          <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">home</i>Home</a>
          <a class="mdl-navigation__link" href=""><i

[2017-10-07 11:10] jackttcoms commented on #5840
.mdl-layout-spacer {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

[2017-10-07 11:25] Banandrew commented on #5840
Hi @jackttcoms, no. Would you like to leave a feature request?

[2017-10-07 11:36] jackttcoms commented on #5840
yes thanks

[2017-10-07 11:54] Banandrew commented on #5820
Hi @oguzhansari, sorry for the delay. I tried reproducing it in an isolated test case on JSFiddle, but couldn’t do it. Could you please fork [this JSFiddle](https://jsfiddle.net/ca0rovs3/) to create a test case? Unfortunately, we can’t fix what we cannot reproduce.

[2017-10-07 12:14] Banandrew commented on #5816
Hi @JamesJGoodwin, sorry for the delay, are you sure it’s the culprit, because [I’ve tried adding jQuery Easing Plugin on top of SUI](https://jsfiddle.net/Banandrew/y2Lkvkyh/), and jQuery’s default methods like `fadeOut` work fine with it. [Here’s the plugin’s GitHub repository](https://github.com/gdsmith/jquery.easing), as their website seems to be hosting a version that’s a bit outdated. What jQ

[2017-10-07 12:26] JamesJGoodwin commented on #5816
@Banandrew I'm sure. After I removed jQuery Easing Plugin from the page - everything was back to normal. I'm using jQuery version of 3.2.1.

[2017-10-07 13:16] camueller commented on #5839
You are right - this is related to Angular'S life cycle. It works without problems if dropdown initialization is done in AfterViewInit. The updated plunkr https://plnkr.co/1cqcJC1nIRncsPBwAWJp shows this as well.

[2017-10-07 15:29] WallaceMielniczki commented on #5822
Então, eu fiz esse script
$('.ui.dropdown .item.active.selected, .ui.dropdown .item.active.filtered').each(function(){
            valorSelect = $(this).attr('data-value');
            $(this).parent().closest('.ui.dropdown').dropdown('set selected', valorSelect);
        });

ele funciona com outros selects menos com o multiple

[2017-10-07 16:55] jackttcoms opened #5841 "Make text bold with bold div"
With Semantic is it possible to make it so that instead of writing custom css for text to make it bold you can add the class bold please can you let me know if this is already possible or if you think this is a good idea (probably not the first to think of it) thanks

[2017-10-07 17:23] ylto opened #5842 "Changing Site Theme is not possible"
Hi, I use semantic for my vue project. Changing Site theme to something else is not possible, meanwhile changing theme for each element is possible. What's wrong with my setup?

Node: 8.6.0

[2017-10-07 20:51] oguzhansari commented on #5820
I added a JSFiddle.
But he did not make an error there.
I have installed the subdomain.
JSFiddle;
https://jsfiddle.net/oguzhansari/ca0rovs3/90/
Subdomain;
http://test.oguzhansari.com

[2017-10-08 02:13] #5826 closed

[2017-10-08 05:07] Banandrew commented on #5820
@oguzhansari Could you please initialize that specific problematic dropdown on http://test.oguzhansari.com with `debug: true` and `verbose: true`?

[2017-10-08 05:16] Banandrew commented on #5842
Hi @ylto, what are you changing it to?

[2017-10-08 05:26] Banandrew commented on #5841
Hi @jackttcoms, there’re no classes to allow that out of the box, but you can add your own; in the end, it’s just CSS, and SUI is designed to be extended—please refer to [the theming guide](https://semantic-ui.com/usage/theming.html).

[2017-10-08 05:26] #5841 closed

[2017-10-08 05:59] ylto commented on #5842
@Banandrew material, amazon, github, etc. all of them didnt work.

[2017-10-08 06:39] Banandrew commented on #5842
@ylto No. I can’t reproduce, the theme changes are applied correctly. The changes are subtle, are you sure you’re not missing anything? For instance, `material` theme changes the font from `Lato` to `Roboto`:
https://github.com/Semantic-Org/Semantic-UI/blob/796d2f66e26ae5bb76c604fe6a36914ad3d2fe2a/src/themes/material/globals/site.variables#L10
Could you please change the `site`’s theme to `materia

[2017-10-08 07:07] Banandrew commented on #5816
@JamesJGoodwin I was able to reproduce it. `jquery.easing` works fine when SUI isn’t present, but I went through the framework’s source, and the accordion seems to be using it correctly. We’ll investigate.

[2017-10-08 07:28] ylto commented on #5842
@Banandrew It changed! But the button still in default theme. Can't it change to material too? The theme is set globally afterall.

![selection_066](https://user-images.githubusercontent.com/1755417/31314834-c3c3f32e-ac34-11e7-97bb-20af3e981c20.png)

[2017-10-08 07:33] Banandrew commented on #5810
Hi @MazenDesigns, sorry for the delay. I’ll take a look at it if you create a test case—you can fork [this JSFiddle](https://jsfiddle.net/ca0rovs3/).

[2017-10-08 07:42] Banandrew commented on #5842
@ylto `site` doesn’t change a theme for all components. When you change a component’s theme, you change a theme only for that component, so changing it for `site` won’t affect the `button` component—only `site`—and `site` is a component like any other that sets global things like typography, colors, and so on.

Also, please keep in mind that a theme might be existing only for a set of components,

[2017-10-08 07:42] #5842 closed

[2017-10-08 07:48] jaswinderahuja commented on #2247
I am also facing same issue as if I am using remote content in dropdown list dynamically in that case

$('.remote.ui.dropdown').dropdown('refresh');
$('.remote.ui.dropdown').dropdown('set selected',this.props.params.id);

is not working

[2017-10-08 08:06] jaswinderahuja commented on #2247
I want to prepopulate the value when form is loading and also to give the option to the user to select the option from given list which is coming remotely using apiSetting parameters.

  $('.remote.ui.dropdown').dropdown({
      apiSettings: {
        url: '/api/call'
      },
      filterRemoteData: true
    });

    $('.remote.ui.dropdown').dropdown('refresh');
    $('.remote.ui.dropdown').dropd

[2017-10-08 11:27] oguzhansari commented on #5820
I edited the Javascript code like this.

[code]

[2017-10-08 18:32] nikolaybobrovskiy opened #5843 "[Button] .ui.icon.buttons has no margin-right"
Hello!

I cannot understand why .ui.icon.buttons element has computed margin-right equal to 0 meanwhile it is supposed to be 0.25em. Could anybody explain this weird behaviour?

https://s3.amazonaws.com/donnicky_screenshots/2017-10-08_21-32-00_b1ba29c9-0426-40fa-8c50-710027db7034.png

[2017-10-08 18:35] nikolaybobrovskiy commented on #5843
Also it is strange that visually margin exists after page reload (still 0 is shown in computed attributes). If one clicks expand and collapse example then visual margin also disappears.

[2017-10-08 18:35] nikolaybobrovskiy commented on #5843
Chrome 61.0.3163.100, Windows 10.

[2017-10-08 19:41] jaswinderahuja opened #5844 "set selected option with api call in dropdown"
('.remote.ui.dropdown').dropdown({
apiSettings: {
url: '/api/call'
},
filterRemoteData: true
});

response format :

{
 "success":true,
  "results":[
                {:value=>"1", :name=>"first value"},
                {:value=>"2", :name=>"second value"}
       ]
}

$('.remote.ui.dropdown').dropdown('refresh');
$('.remote.ui.dropdown').dropdown('set selected',2);

it is not working... if I am und

[2017-10-08 22:47] betimer commented on #5828
@ylto bower seems can work which is weird. As the prod environment is using npm install

[2017-10-08 22:48] betimer commented on #5828
@Banandrew Thank you. I've tried `npm install gulp-header --save-dev` before install semantic-ui, same error result.

[2017-10-09 01:44] apark0720 commented on #2796
+1

[2017-10-09 05:56] zhangyuanliang opened #5845 "[Modal] There is a issue when the second Modal is too high."
[code]
There's a problem, if the second Modal is much higher than the first. Please look at [JSFiddle](https://jsfiddle.net/zhangyuanliang/mpknexne/6/).
`.second.modal` and `.third.modal`, the only difference is their `height: **px`.

[2017-10-09 08:21] bvn13 commented on #3838
@a8568730 Thank you, it works fine!

[2017-10-09 09:11] Panoplos commented on #5821
No, just tested again, and still no-go. Did a `yarn remove semantic-ui-less` and `yarn add semantic-ui-less`.

[code]

[2017-10-09 11:18] Banandrew commented on #5821
@Panoplos No.

[2017-10-09 11:27] Banandrew commented on #5844
Hi @jaswinderahuja,

Thank you for posting, but although it’s a valid usage question, we’ve limited GitHub Issues to bug reports and feature requests, keeping the board more manageable for maintainers; see the [contributing guidelines](https://github.com/Semantic-Org/Semantic-UI/blob/master/CONTRIBUTING.md) for more information on what kind of posts should find themselves into the GitHub Issues bo

[2017-10-09 11:27] #5844 closed

[2017-10-09 11:44] Banandrew commented on #5820
@oguzhansari Thank you. This issue is a duplicate of #5741, and there’s already a PR that should fix it. Please see my comment there for a temporary solution.

[2017-10-09 11:44] #5820 closed

[2017-10-09 14:18] nikola1970 opened #5847 "Something is wrong with grid?"
Hello, i just seems to have a weird bug.

I downloaded gird.min.css from your website, added it to my html page but when I make this:

[code]

Those 'columns' do not stack inline, 5 of them went to the second line and I have no idea why (even if I add classes to columns like 'one wide column' and if I add additional call of 'row' then I lose side paddings)? left and right paddings of those columns

[2017-10-09 15:11] Banandrew commented on #5847
Hi @nikola1970, what are you seeing, could you please post a screenshot? What are the steps to reproduce the issue aside from creating a 16 column grid?

[2017-10-09 15:46] nikola1970 commented on #5847
Steps to reproduce it are like this:

Get the grid.css from SemanticUI, make index.html and load grid.css in, and then paste code snippet from my previous post.

here is the screenshot uploaded on imgur:
[https://imgur.com/a/wkfbx](url)

[2017-10-09 19:48] johnunclesam commented on #1240
Any news on this? How can I disable font icons and use svg ones?

[2017-10-09 21:02] nikolaybobrovskiy commented on #5843
Looks like `font-size: 0` for `.ui.buttons` makes `0.25em` be 0px: https://s3.amazonaws.com/donnicky_screenshots/2017-10-10_00-01-19_614e7974-6c36-4688-b17b-954640fee8f4.png

[2017-10-10 04:03] ivantcholakov opened #5848 "Add a visual theme like in Metro UI"
Metro UI CSS, see https://metroui.org.ua
This framework is nice looking, I think, it worths its visual styles to be emulated by Semantic UI.

[2017-10-10 04:20] Panoplos commented on #5821
OK, can you try in a clean environment or give me some pointer as to how to get this fixed?

[2017-10-10 07:24] fatalerrorx opened #5849 "[Header][Icon] Link with Icon in Sub Header Causes Icon To Have Extra Right Margin Space"
For some reason an icon inside a link in a sub header will have extra space in the right margin. See below example:

https://jsfiddle.net/g8tdvtpe/4/

[2017-10-10 08:43] Banandrew commented on #5849
Hi @fatalerrorx, not sure about the reasoning behind it, we’ll investigate to make sure we’re not breaking anything else, but you can wrap the text in a `span` as a temporary fix:
[code]

[2017-10-10 08:58] 1-14x0r commented on #5848
That is a nice looking theme and component library. It is definitely doable. Recently we have begun work on creating a theme editor for semantic-ui. Currently its a little... tedious to create new themes that maintain the spirit of the core CSS style objects. You can follow our progress and/or help our effort [here](https://github.com/openmastery/semantic-ui-theme).

You can find information on ho

[2017-10-10 09:31] Banandrew commented on #5821
@Panoplos I would if I could, but I don’t know why it happens—I tried several things yesterday, but nothing was reproducing the issue. I’m sorry that it happened, the only I can do is to summon the maintainer, perhaps he’ll have time to take a look at it this week; @jlukic.

[2017-10-10 09:36] 1-14x0r commented on #5848
@Banandrew thats pretty spiffy. Personally I think it would be a great idea for a microsoft theme. Especially for when you use SUI in native applications with Electron. That design guide is pretty well thought out, and im sure we could use some principal in that.

[2017-10-10 09:39] jackttcoms opened #5850 "Float anything shouldnt just be segment and buttons"
In an update is it possible to make it so that you can float anything with the 'floated right/left' classes as well because from the code below it only floats when i do it manually but the code is already in semantic so can it be changed to work with anything thanks.

`<div class="ui floated right"><a href="#">Forgot Password?</a></div>`

`<a href="#" style="
    float: right;
">Forgot Password?</

[2017-10-10 09:49] Banandrew commented on #1240
Hi @johnunclesam, there’s no news. You can remove the flag component from being built by removing it from `semantic.json`’s `components` array, and rebuilding the framework afterwards.

[2017-10-10 09:54] johnunclesam commented on #1240
Ok. But I'm referring also to all the icons in Semantic-UI. Not only the flags.

[2017-10-10 09:59] Banandrew commented on #5847
@nikola1970 Sorry for the delay, you also need the reset component, which is basically the latest version of [Normalize.css](https://github.com/necolas/normalize.css/), although, the component does set some additional styles:
https://github.com/Semantic-Org/Semantic-UI/blob/796d2f66e26ae5bb76c604fe6a36914ad3d2fe2a/src/definitions/globals/reset.less#L20-L38

[2017-10-10 10:01] Banandrew commented on #1240
@johnunclesam It’s the same with the icon component.

[2017-10-10 11:21] WallaceMielniczki commented on #5822
??????

[2017-10-10 11:22] WallaceMielniczki commented on #5822
@Banandrew

[2017-10-10 12:58] Banandrew commented on #5822
@WallaceMielniczki I’m confused, what was your question?

[2017-10-10 13:50] tomsmalley opened #5851 "Bottom attached buttons (<button> elements) are incorrectly sized"
https://jsfiddle.net/502bq2ca/3/

If this is intended behaviour, it should probably be mentioned in the docs.

[2017-10-10 16:29] jackttcoms opened #5852 "More footer options like positioning etc"
https://www.google.com/chrome/browser/desktop/index.html

For Future Version

The footer on that website has options where you can have bits of the right bits on the left whereas with semantic its a bit more restricted where you can have it centered, left, right but not in different parts at the same time but let me know if I'm wrong and you can do this thanks

[2017-10-10 18:34] kailashvele commented on #4082
Background color of the button by default has the gray color, this basic button group is basically used for transparent background and colored border with buttons being together. Its intended to have the transparent background.

[2017-10-10 19:04] vpeti commented on #5234
@kmd1970 can you please check if this pull request also solves your issue? [https://github.com/Semantic-Org/Semantic-UI/pull/5809](url)

[2017-10-10 23:55] fatalerrorx commented on #5849
Thanks!

[2017-10-11 00:54] 1-14x0r commented on #4801
i ran into this issue too. fell back to npm install which works as deigned

[2017-10-11 03:08] Panoplos commented on #5821
Yeah, it is a strange issue, indeed, but it is a showstopper for us. If I can provide any further info that would help, just ask.

[2017-10-11 04:20] 1-14x0r commented on #5821
@Panoplos I just tested this can i can not reproduce either. However I made you a quick fix.

here is a forked tag of the 2.2.13 release:
src => https://github.com/1-14x0r/Semantic-UI-LESS/tree/just-themes
tag => https://github.com/1-14x0r/Semantic-UI-LESS/releases/tag/2.2.13a

basically remove the module from your package.json and extract the themes dir to overwrite your existin' one in the modul

[2017-10-11 08:20] Pamzus opened #5853 "[Responsive layout] - conflict on "large monitor only" classes"
When using "large monitor only" classes to display element (let's say segment or button) only on resolution from 1200-1920px, element inherits font-size properties.

Using default theme you can not have segment visible only on large monitor and keeping default 1rem font-size.

https://jsfiddle.net/zadxdvs3/

`<div class="ui segment large monitor only"></div>`
also gets
`
.ui.large.segment, .ui.lar

[2017-10-11 08:32] Pamzus commented on #5853
Found I can change variable when building theme in globals/site.variables
/*-------------------
        Sizes
--------------------*/
/*@largeSize       : (16 / 14);*/
@largeSize       : (14 / 14);

Still think different names should be used, it is unnecessary conflict.

[2017-10-11 09:57] pallavpoddar opened #5854 "[CHECKBOX] Unable to check/uncheck check box by hitting space key. (IE/Edge)"
Unable to check/uncheck the checkbox. Tick mark flicks on hitting Space button.
This occurs only when JS is assigned over that checkbox DIV.
and only on Edge and Internet Explorer Browsers.
Please refer this [JSFiddle](https://jsfiddle.net/jph1r2se/2/).

I have opened this issue in the component also please see [this issue](https://github.com/Semantic-Org/UI-Checkbox/issues/3).

[2017-10-11 12:08] Banandrew commented on #5853
Hi, could you please provide a test case as per our [contributing guidelines](https://github.com/Semantic-Org/Semantic-UI/blob/master/CONTRIBUTING.md)? You can fork [this JSFiddle](https://jsfiddle.net/ca0rovs3/).

[2017-10-11 12:49] Banandrew commented on #5852
Hi @jackttcoms, you can use the grid to position elements.

[2017-10-11 12:49] #5852 closed

[2017-10-11 12:53] WallaceMielniczki commented on #5822
eu quero que ao carregar a pagina o multiple select esteja pré selecionado

[2017-10-11 12:56] awaistechverx opened #5855 "Dropdown open again and again when click for closing while open."
I am using Semantic-UI Multiple select dropdown, on web PC/Laptop its working like charm but on mobile its behaving strange, when i click for open it opens fine but when i click again for close, it open again and never close.
Any one have idea how to fix it? you can view this over [here](https://cruiserhandlebars.com/) when you open side menu on mobile device.

[2017-10-11 13:58] Banandrew commented on #5855
Hi @awaistechverx, this is a known issue: #3304. We might also be tracking it in another thread that I can’t find right now, as it behaves similarly on Chrome for Android.

[2017-10-11 13:58] #5855 closed

[2017-10-11 14:00] Banandrew commented on #5822
@WallaceMielniczki That I understood and answered. Could you please elaborate?

[2017-10-11 15:58] greatbody commented on #2072
@DarkSide666 I believe that we can fork and start a new branch since officer is dead~_~

[2017-10-11 18:57] davestewart commented on #5829
Hi @Banandrew - not yet had the time to look back into it!

[2017-10-11 19:13] Pamzus commented on #5853
I've edited post with test fiddle.

[2017-10-11 20:05] Banandrew commented on #5853
@Pamzus If I didn’t miss anything, visibility classes exist only for the grid component, so I’m assuming you reimplemented them for general use, is that correct?

[2017-10-11 20:47] DarkSide666 commented on #2072
@greatbody Well, yes it looks that @jlukic have no activity for more than 1 month and previously he's not that active too this year. Sad to see that such good repo like Semantic-UI is going down this way. 142 open pull requests, 1070 open issues :(

[2017-10-11 21:04] Pamzus commented on #5853
So if I understand corectlly visibility classes should be used on row and column?

[2017-10-11 21:33] Banandrew commented on #5853
@Pamzus Yes, also on a `.grid` itself.

[2017-10-11 22:05] akotulu commented on #2072
Sad to see yes, everyone thinks open source is cool and free, maybe use donation button more often.

[2017-10-11 23:03] betimer commented on #5828
@ylto @Banandrew

[2017-10-11 23:05] #5828 closed

[2017-10-12 06:03] Pamzus commented on #5853
@Banandrew, thank you for your help and info.

Cheers!

[2017-10-12 06:03] #5853 closed

[2017-10-12 18:30] nikola1970 commented on #5847
Thank you @Banandrew !

[2017-10-12 18:59] Banandrew commented on #5847
Closing as resolved.

[2017-10-12 18:59] #5847 closed

[2017-10-12 22:43] oguzhansari opened #5857 "Name values in form validation"
Hi,

I use multiple input of the same name
Do not want to use the value of "name".
We can take a different value base.

For example:
<input **name="address"**>
instead:
<input name="address" **data-name="address"**>

[code]

instead:
[code]

[2017-10-13 03:19] david-steinberg-codes commented on #3899
I'm in the same boat.

[2017-10-13 08:31] johnunclesam commented on #4513
Any news on this? Such a pity!

[2017-10-13 10:30] DarkSide666 commented on #2072
I already contribute in multiple open-source projects. That's my 2-cents to open-source community :)

[2017-10-13 10:54] jackttcoms opened #5858 "Multiple columns in the list"
With the list element i know you can use a grid to achieve this but you can't put a column inside another column so is it possible in the future for you to have multiple lists like you do so segments and have it where there are two columns like the example below thanks

http://jsfiddle.net/karlikdesign/fmroxyLy/

[2017-10-13 14:21] balint42 commented on #3227
This seems not exactly a bug but (confusing) undefined behaviour caused by using Floats instead of Integers as rating. The module should check and `throw` if `Number` is not an Integer.

[2017-10-13 16:43] davestewart commented on #5829
@jlukic - I'm going to start looking into this over the weekend.

Is there a reason for the non-standard extensions?

Would there ever be the chance to submit a PR to change them to something IDEs could better-recognise?

[2017-10-13 19:33] FrankTheCodeMonkey commented on #5398
same issue

[2017-10-14 12:55] jackttcoms opened #5859 "Animation issue with new Microsoft Edge Update"
On the Semantic UI website when you click the side bar the overlay flickers which is never used to do on the old version of Edge and on the cards where you hover on them for too long it just goes a single colour

https://semantic-ui.com/examples/theming.html

[2017-10-15 00:37] josedarioxyz opened #5860 "[CSS][HTML] <html> tag container is limited to browser viewport size."
The  **semantic.css** file limits a document's < html > tag container size to a user's browser viewport size. This causes page elements to spill outside of the < html > tag container when the total page content is larger than the viewport.

The issue can be observed by editing the following snippet in **semantic.css** from this:

[code]

to this:

[code]

My suggestion for a fix is that the origin

[2017-10-15 08:02] tomsmalley opened #5861 "[Icons/Icon] Icons alignment is incorrect"
http://jsfiddle.net/z2yLmw67/
Also visible in the docs: https://semantic-ui.com/elements/icon.html#icons

The margin of the first-child "icon" element affects where the remaining "icon" children are placed. I propose moving the margin-right to the icons element instead (like the 'example' class in jsfiddle), or icon groups just end up looking wonky.

This was mentioned in a comment of #4879 but th

[2017-10-15 11:14] jackttcoms commented on #5861
For the time being you need to use custom CSS, I had the same issue but as they are running behind on the next scheduled update its probably best you just code it yourself.

[2017-10-15 18:42] Banandrew commented on #5857
Hi @oguzhansari, I’m confused, what’s your question?

[2017-10-15 19:56] johnunclesam opened #5863 "Is there something like Bootstrap 4 "Spacing utilities"?"
https://getbootstrap.com/docs/4.0/utilities/spacing/

Is there a way to obtain this in Semantic-UI.

I don't know really well LESS.

These classes are really useful!

[2017-10-15 21:32] Banandrew commented on #5858
Hi @jackttcoms, grids can be nested, but I think it’s already possible with something like that: https://jsfiddle.net/Banandrew/wwj8m2cr/ Does that resolve your issue?

[2017-10-15 21:47] Banandrew commented on #5859
I can’t seem to reproduce the issue with the sidebar on `40.15063.674.0`, is that the version you’re using? Cards do have a problem with the dimmer.

[2017-10-15 21:49] Banandrew commented on #5860
Hi @josedarioxyz, could you please provide a test case as per our [contributing guidelines](https://github.com/Semantic-Org/Semantic-UI/blob/master/CONTRIBUTING.md)? You can fork [this JSFiddle](https://jsfiddle.net/ca0rovs3/).

[2017-10-15 21:55] Banandrew commented on #5863
Hi @johnunclesam,

Thank you for posting, but although it’s a valid usage question, we’ve limited GitHub Issues to bug reports and feature requests, keeping the board more manageable for maintainers; see the [contributing guidelines](https://github.com/Semantic-Org/Semantic-UI/blob/master/CONTRIBUTING.md) for more information on what kind of posts should find themselves into the GitHub Issues boar

[2017-10-15 23:25] johnunclesam commented on #5863
This one is a feature request, not an "How to" question, @Banandrew.

Thanks for your work anyway.

[2017-10-16 11:15] davestewart commented on #5829
OK, after some initial investigation, it looks like PHPStorm doesn't support 2-levels of file extension, therefore `.less.variables` is still associated as a `.variables` file.

Therefore, the files would need to be something like:

- `.variables.less`
- `-variables.less`

The gulp tasks are mainly built using wildcards, so this wouldn't be too difficult to change:

[code]

However, having less fi

[2017-10-16 11:43] jackttcoms commented on #5859
the sidebar works fine its just the dimmer lags out and with the cards it fades and then becomes a solid colour and the version im using is     <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/semantic.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/semantic.min.js"></script>

thanks let me know if im using

[2017-10-16 11:49] mohammadreza commented on #5201
if you got the `Uncaught ReferenceError:  jQuery is not defined at semantic.min.js:11` error again in the console, first and the only thing you should to do is put jQuery link load before the SemanticUI link load.
in first load the jQuery and then load the SemanticUI.be consider about the orders.
**Wrong way**

[code]
**Correct way**

<script src="your_path/jquery.min.js" type="text/javascript"></

[2017-10-16 17:46] davestewart commented on #5829
OK, so I finally got this working, but it meant completely modifying the installed files.

For the CSS, I had to:

- rename all `.overrides` and `.variables` files in `site/` and `themes/` with a `.less` extension
- rename `theme.config` to `theme.config.less`
- update all imports in all "less"-like files in `src/`

For the gulp tasks, I had to:

- update any references to `.overrides` or `.variab

[2017-10-16 18:39] Banandrew commented on #5859
@jackttcoms I meant the version of Edge.

[2017-10-16 20:33] jprateragg opened #5865 "[Table] Tables with lots of rows (200+) and columns (20+) are very slow to scroll"
We're using 2.2.13 of the framework primarily on Windows 7 and IE11. We have a very large report our application generates. It contains over 20 columns and over 200 rows. Scrolling up and and down the table is incredibly sluggish. Doesn't matter if we're using the scroll wheel on the mouse or dragging the scroll bar on IE, it's just incredibly slow and sluggish. Works fine on Chrome though, but we

[2017-10-16 21:55] jackttcoms commented on #5859
Oh sorry it’s the latest version that came with the creators update

[2017-10-16 21:55] jackttcoms commented on #5859
The previous version of Edge worked fine and there was no issues

[2017-10-16 23:45] Banandrew commented on #5865
Hi @jprateragg, what’s in your table’s `td`s?

[2017-10-17 01:54] 1-14x0r commented on #5865
This is a known issue with how IE processes td cells and tables in the DOM. One thing you could try to do is to make multiple tables and style it to look like its one table.. i would try that first and see if you squeeze out some performance with the dom rendering. You could also experiment with not using a table, and div's instead. Could also run the performance monitoring tool in the dev tools t

[2017-10-17 06:09] ashkonBG commented on #2072
Contribution is important to open-source projects and all, but what I think others are trying to say is that new features are being added to the project; but this very major, yet so simple, issue still exists that shouldn't have been there since the early version.

[2017-10-17 09:46] NicoAiko opened #5866 "[Dropdown] Open menu's right border too wide"
![bildschirmfoto 2017-10-17 um 11 32 04](https://user-images.githubusercontent.com/22343587/31657707-61f0a42e-b32f-11e7-9cc7-82831329535c.png)

As you can see here, its right border is too far right.

[code]

and

[code]

is the code I use.

[2017-10-17 09:47] shumy opened #5867 "Evaluating stencil.js"
There have been discussions about getting rid of jQuery. I believe this will be a good choice, but there should be a replacement. In the spirit of sticking with standards, I think you should evaluate the [Stencil](https://stenciljs.com/) option. The are so many good advantages on this path:

Pros:
1) Stick with web-components standard and don't commit with any framework (Angular, React, etc). Don'

[2017-10-17 11:00] stephenoldham opened #5868 "[Modal] Refresh/observe changes has odd click offset behaviour when scrolling modal"
Affects Chrome Version 61.0.3163.100

It seems when using a form in a modal with `observeChanges:true`, once the modal refresh has been called and the modal scrolled, you can't click to focus on any form element.

**Example:** https://jsfiddle.net/1218vmc8/2/

**Steps to recreate:**
1. Click in an input to assert form works as expected to start
2. Click dropdown to trigger an observed change
3. Sc

[2017-10-17 12:54] lordjbs opened #5869 "jQuery?"
Semantic cannot find jQuery even when added.
`<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script><script type="text/javascript" src="semantic/dist/semantic.min.js"></script>`
anything i can do?

[2017-10-17 13:29] jprateragg commented on #5865
@Banandrew Here is an example of a row:

[code]
Sometimes there will be something in hovertext, but it would just be 20-50 characters at most and no JS functions or anything.

[2017-10-17 13:31] jprateragg commented on #5865
@1-14x0r I will try breaking it up into multiple tables and see if that makes any difference.

[2017-10-17 13:57] jprateragg commented on #5865
@1-14x0r I divided up the report into separate tables as you suggested. I grouped it by regions, and we have 20 regions in our organization, therefore 20 tables. The performance is better, but, but definitely not great. The scroll bar on the browser works much better, but scrolling using the mouse wheel still freezes a bit. But definitely better than one large table.
I may format it using divs ins

[2017-10-17 17:07] Banandrew commented on #5866
Hi @NicoAiko, I couldn’t reproduce it in a JSFiddle. Could you please provide a test case as per our [contributing guidelines](https://github.com/Semantic-Org/Semantic-UI/blob/master/CONTRIBUTING.md)? You can fork [this JSFiddle](https://jsfiddle.net/ca0rovs3/).

[2017-10-17 17:51] DarkSide666 commented on #2072
@ashkonBG I completely agree with you

[2017-10-17 18:02] rodrigopires opened #5870 "Unexpected "shadows" in Chrome 61.0.3163.100"
Since the Chrome's update to version 61, these "shadows" started to show under my tables. (see print below)

The same page works perfectly in other browsers (FF, Edge etc), without these shadows. So it's a Chrome thing.

Anyone know if there's a fix or workaround for it? I'm not sure if it's a Chrome bug or new implementation...

Thank you!

![Chrome Bug print](http://clfilm-aspnetcore.azurewebsit

[2017-10-17 18:16] Banandrew commented on #5869
Hi @lordjbs, what’s the status of jQuery’s request?

[2017-10-17 18:19] Banandrew commented on #5865
@jprateragg If you’re using the `.celled` class with the table, try removing it and see if it makes the performance better.

[2017-10-17 18:23] NicoAiko commented on #5866
I can't reproduce it. It seems like it only affects my code...

It's a very strange behaviour. I tried to bring in the whole basic HTML structure but even that didn't help.

I'll try something else though.

[2017-10-17 18:28] Banandrew commented on #5868
Hi @stephenoldham, I can’t reproduce on the same version of Chrome. Could you please record a quick video? You can use https://github.com/NickeManarin/ScreenToGif that’s portable.

[2017-10-17 18:43] lordjbs commented on #5869
uhm, I don't get any error, so I don't know what to say..

[2017-10-17 18:46] jprateragg commented on #5865
I removed the celled class and performance was about the same--still just as sluggish.

[2017-10-17 18:48] Banandrew commented on #5870
Can also be seen on SUI’s documentation.

[2017-10-17 18:53] Banandrew commented on #5869
@lordjbs I’m assuming it’s `200`, but still, please open developer tools, go to the `Network` tab, reload the page, find the jQuery request and see its status there. Also, please check if `jquery-3.2.1.min.js` is above the `semantic.min.js`.

[2017-10-17 19:06] Banandrew commented on #5865
@jprateragg Just to make sure, is there any difference if you use the default tables without SUI? Try removing SUI’s classes from the `table` tag.

[2017-10-17 21:07] 1-14x0r commented on #5865
also do you do any of the cell clip large content? see http://connect.microsoft.com/IE/feedbackdetail/view/968689/ie-11-extremely-slow-scroll-performace-in-tables-with-cell-clipping

also have you tried to experimenting with manually scrolling content by overloading your scroll input events? Such as disable scroll wheel. see https://stackoverflow.com/questions/20026502/prevent-mouse-wheel-scrollin

[2017-10-17 21:18] rodrigopires commented on #5870
@Banandrew is this a Semantic-UI bug, or a Chrome bug?

[2017-10-17 21:20] Banandrew commented on #5870
@rodrigopires I don’t know, we’ll investigate.

[2017-10-17 23:04] kieykouch opened #5871 "Tooltip with Multiple Section"
I need to add tooltip into a selected value from dropdown.
When a user selects a dropdown, if a user hovers around the selected content, it should display tooltip.
I tried adding (data-content="Add users to your feed" ) into <i> from multiple select dropdown, it doesn't display tooltip at all.

https://jsfiddle.net/ub6y4gto/1/

https://semantic-ui.com/modules/popup.html
https://semantic-ui.com/mod

[2017-10-18 10:43] buckle2000 commented on #5127
Same here.
![test](https://user-images.githubusercontent.com/10850402/31714009-c68b0a4c-b432-11e7-9630-5e350492f288.gif)

[2017-10-18 11:51] johnunclesam opened #5873 "1px top misalignment with "segment" and "card"."
Here is the reproduction of the problem: https://plnkr.co/edit/SKSo5rEGLYMetnC5vSF7?p=preview

Here a picture:

![image](https://user-images.githubusercontent.com/21275217/31717177-29202458-b40b-11e7-9a18-43d541dec98b.png)

Is the `card` too high or the `segment` too low?

[2017-10-18 12:56] jprateragg commented on #5865
@Banandrew @1-14x0r The way we had this report formatted previously was with some basic CSS styling and no JS. It was very simple. We recently just started switching over our reports to SUI so they were consistent with our main application (which uses SUI obviously). So, this report worked perfectly before we moved to SUI. The number of columns hasn't changed, the rows vary from month to month (st

[2017-10-18 14:06] ghost opened #5874 "Vertical tabular menu (left or right) "attached" to the segment."
It would be amazing! Here is the reproduction: https://plnkr.co/edit/sf0yzZxSumUHFzDKWsDY?p=preview

![image](https://user-images.githubusercontent.com/21275217/31723077-28d1ce94-b41e-11e7-82e7-cdf94ef5537d.png)

[2017-10-18 15:40] lordjbs commented on #5869
Tried browser and stuff, i guess its electron messing around. Thanks :D

[2017-10-18 19:29] Banandrew commented on #5869
Closing as resolved then.

[2017-10-18 19:29] #5869 closed

[2017-10-18 20:43] romaninsh commented on #2072
I've been a lead on an open-source project for over 10 years. You are not getting any money off it. Donations or adds won't help much. The goal is to have multiple secondary officers who would be able to take over, approve PRs and move project ahead should something happen with the lead.

In a current situation, we've invested a tons of work into https://github.com/atk4/ui to use Semantic UI over

[2017-10-18 21:50] stephenoldham commented on #5868
Hi @Banandrew no problem. Gif with the bug using observeChanges and gif without below :)
![without-bug](https://user-images.githubusercontent.com/2156070/31744462-c41d9814-b456-11e7-945c-6e2c23644ce3.gif)
![with-bug](https://user-images.githubusercontent.com/2156070/31744463-c43b836a-b456-11e7-919a-c84ab2431606.gif)

[2017-10-18 22:07] chdh commented on #733
It can be done by capturing the `focusin` event of the `document`.

[code]

`startFocusJail()` is called when the modal is shown and `stopFocusJail()` is called when the modal is hidden. `focusRootElement` is the modal `DIV` element with `tabindex="-1"`, so that the `DIV` can receive the focus. A better solution would be to move the focus to the first focusable element within the `DIV`.

The [Boot

[2017-10-19 01:04] Banandrew commented on #5871
Hi @kieykouch, sorry for the delay, here’s an example: https://jsfiddle.net/whsufur5/ If you have more questions, I’ll be happy to answer them in this thread.

[2017-10-19 01:04] #5871 closed

[2017-10-19 05:01] levithomason commented on #5205
Bump.

@jlukic any chance this could go out next release, that'd be superb.  It is putting a small damper on the SUIR Datetime component.

[2017-10-19 09:53] fridzema commented on #5870
I had this problem a long time ago and temporally fixed it at the time with disabling hardware acceleration in chrome.

[2017-10-19 13:37] johnunclesam opened #5875 "Adjoining classes. Attribute selectors with *= are slow."
In something like this:

`.ui[class*="very basic"].table:not(.sortable):not(.striped) td:first-child, .ui[class*="very basic"].table:not(.sortable):not(.striped) th:first-child`

in many editors I receive this warning:

*Don't use adjoining classes. Attribute selectors with *= are slow!*

Is this true?

How this can impact in my project performances?

[2017-10-19 21:33] chdh opened #5876 "[Modal] should disable keyboard input for hidden components"
#733 is an old Confirmed Bug issue from 2014 for this problem. It has been closed because there was no idea of how to fix it. I have found and tested a [solution](https://github.com/Semantic-Org/Semantic-UI/issues/733#issuecomment-337742305) and documented it with the old issue.

[2017-10-19 21:54] vladimirchoi opened #5877 "Incorrect Myanmar flag"
The Myanmar flag changed in 2010, please see https://en.wikipedia.org/wiki/Flag_of_Myanmar

[2017-10-20 02:28] Banandrew commented on #5876
Hi @chdh, thanks, I reopened and milestoned the issue.

[2017-10-20 02:28] #5876 closed

[2017-10-20 03:06] Banandrew commented on #5875
Hi @johnunclesam, they can be, but the difference is negligible. [Somebody did a performance test 3 years ago](https://benfrain.com/css-performance-revisited-selectors-bloat-expensive-styles/), and the difference between more and less efficient CSS selectors was only 35 milliseconds of rendering time on average (for desktop browsers), so you shouldn’t be worrying about it. There’s also a response

[2017-10-20 03:06] #5875 closed

[2017-10-20 03:08] Banandrew commented on #5877
Hi @vladimirchoi, thank you, but we’re already tracking it here: #5145.

[2017-10-20 03:08] #5877 closed

[2017-10-20 12:39] flashspys opened #5878 "[Segment] Add .equal.width.horizontal.segments"
As you can see in [this jsbin](http://jsbin.com/zobiriseyi/edit?html,output) it seems that `ui horizontal segments` does not support `equal width`. I think it should.
Is there a workaround to support it right now?

[2017-10-20 12:50] buckle2000 opened #5879 "[Modal] - Incorrect document"
**Steps to Reproduce**
1. visit https://semantic-ui.com/modules/modal.html
2. look at the first example

There is a line: ` <i class="close icon"></i>`

**Expected**
The Modal should have a close icon

**Result**
The Modal does not have any close icon

[2017-10-20 21:22] allidoisace opened #5880 "Appending a Dropdown yields `onChange` not to work."
Selecting an option from 1 dropdown will append a new dropdown menu filled with different choices. Since the page loads once, an event must be made to trigger this new dropdown menu. Any normal `action` or custom action works (ie. `function (text, value)`), however if you try to use `onChange` with or without an action alongside, it cannot even run a `console.log()`. Not sure if this is limitation

[2017-10-20 22:08] jackttcoms opened #5881 "Bottom Fixed Menu issue"
Im trying to place a borderless menu on the bottom of the site but it wont work as soon as i remove the borderless class it works fine.

//Works
[code]

//No Work
[code]
https://jsfiddle.net/8du65567/

[2017-10-21 00:22] WallaceMielniczki opened #5882 "[Card] font unresponsive"
http://jsfiddle.net/ca0rovs3/94/ a font não está responsiva

[2017-10-21 05:28] Banandrew commented on #5882
Hi @WallaceMielniczki, I think we can track it in the original thread: #5608.

[2017-10-21 05:28] #5882 closed

[2017-10-21 05:28] Banandrew commented on #5881
Hi, could you please provide a test case as per our [contributing guidelines](https://github.com/Semantic-Org/Semantic-UI/blob/master/CONTRIBUTING.md)? You can fork [this JSFiddle](https://jsfiddle.net/ca0rovs3/).

[2017-10-21 05:29] Banandrew commented on #5880
Hi, could you please provide a test case as per our [contributing guidelines](https://github.com/Semantic-Org/Semantic-UI/blob/master/CONTRIBUTING.md)? You can fork [this JSFiddle](https://jsfiddle.net/ca0rovs3/).

[2017-10-21 08:21] #5880 closed

[2017-10-21 08:22] jackttcoms commented on #5881
https://jsfiddle.net/8du65567/

[2017-10-21 10:06] jackttcoms opened #5883 "Add option to set position of modal"
A nice feature would be to change the position of the modal from top middle and bottom instead of it just being central

[2017-10-21 10:07] jackttcoms opened #5884 "Add expanding fields"
A nice feature would to be able to have an icon that you click and the form appears so its tucked away behind icon

like the framework below

https://getmdl.io/templates/android-dot-com/index.html
https://getmdl.io/components/index.html#textfields-section

[2017-10-21 10:16] psyhonut commented on #5883
+1

[2017-10-21 16:54] JamesJGoodwin commented on #5866
Same for me.
![dropdown](https://user-images.githubusercontent.com/17240507/31853908-8927cb86-b699-11e7-8dd4-5b0d98fc9520.png)

[2017-10-21 17:04] JamesJGoodwin opened #5885 "[Dropdown] preserveHTML is useless"
Hello. According to official documentation HTML inside of `.item` should be preserved after a value selection, but it's actually don't. Documentation says:

But my HTML code inside of `.item` never get copied into a `.text` element. `preserveHTML` works only for an icons inside of `.item`, but should work for any HTML code inside of it.

For example:

[code]

Dropdown will be way more intuitive an

[2017-10-21 20:43] JamesJGoodwin commented on #5885
Well, my issue has been successfully resolved with [description](https://semantic-ui.com/modules/dropdown.html#description).

[code]

Since it's resovled I'm closing this topic, but if you still have any comments or suggestions - please feel free to mention me here. Have a nice day!

[2017-10-22 05:33] Banandrew commented on #5866
Hi @JamesJGoodwin, can you reproduce it in a JSFiddle?

[2017-10-22 05:41] Banandrew commented on #5484
Forgot to link the original thread here: #396.

[2017-10-22 05:45] Banandrew commented on #5881
@jackttcoms Thank you. That specific rule uses an attribute selector with a specific word order:

https://github.com/Semantic-Org/Semantic-UI/blob/796d2f66e26ae5bb76c604fe6a36914ad3d2fe2a/src/definitions/collections/menu.less#L1737-L1745

Change it to `.ui.borderless.bottom.fixed.menu`, and it will work. The issue has been discussed before if you’re interested in it: #396, #5484.

[2017-10-22 05:45] #5881 closed

[2017-10-22 11:52] Banandrew commented on #5885
Hi @JamesJGoodwin, that doesn’t seem to be the case from what I’ve just tested with SVG. I’ll take a look at it if you create a test case from [this forkable JSFiddle](https://jsfiddle.net/ca0rovs3/).

[2017-10-22 16:26] JamesJGoodwin commented on #5885
@Banandrew just found the reason for what is happening. You need to remove `data-text` attribute in order to make `preserveHtml` option works.

[2017-10-22 19:47] gabri231 opened #5886 "[Step] - No se respeta el limite de un DIV"
**Steps to Reproduce**
Visualmente no funciona correctamente la adaptación de la pantalla.
Adjunto archivo donde se ve que no se respeta la ubicación dentro de un "DIV".

**Expected**
Debería ser responsive.
**Result**
Traspasa el limite y se visualiza sobre otros elementos

**Testcase**
adjunto img
![semantic](https://user-images.githubusercontent.com/14350442/31865647-874a7f82-b772-11e7-9b01-425

[2017-10-22 21:57] javiersuzuki commented on #21
Hi guys,
The grid seems to have responsive issues (at 768px) when having 2 columns with a menu in one and a segment in the other one, like the example below:
<div class="ui stackable grid">
  <div class="four wide column>
    <div class="ui vertical menu">Menu</div>
 </div>
  <div class=" twelve wide column">
    <div class="ui segment">Segment Content</div>
 </div>

![screen shot 2017-10-23 at 8

[2017-10-23 01:09] chdh opened #5887 ""form" is duplicate in in semantic.json / components array"
The string `"form"` is duplicate in the `components` array in `semantic.json`. I assume that one instance is for the form collection and the other for the form validation API, but both have the same name.

It's not possible to create a customized build with only the form collection but not with the form validation API.

[2017-10-23 08:54] karak commented on #5824
I suspect the root cause of this problem is a bug of revalidation, and this occurs not only on IE.
For the error state isn't removed until both of the radio buttons are checked on Google Chrome.
Shouldn't it be after one of them is checked, and then this problem would be solved?

[2017-10-23 12:17] Banandrew commented on #5886
Hi @gabri231, thank you, but we’re already tracking it here: #4880.

[2017-10-23 12:17] #5886 closed

[2017-10-23 13:29] NicoAiko opened #5888 "[Progress] Initializing works only after timeout"
I don't know, if this is a problem for someone else as well, but I have the following situation.

I use Semantic with VueJS.

When my component is mounted, I call `$('.ui.progress').progress();` like this:

[code]

I tried several approaches, but what worked was using a `window.setTimeout`, but I find that a dirty hack that's not to be used and better be replaced with some more clean code.

Unfort

[2017-10-23 19:50] Banandrew commented on #5888
Hi @NicoAiko, I’ve just tried it on my local machine with Vue 2, and it works fine without `setTimeout`. Perhaps, it’s because of nested Vue components? In any case, it’s definitely not a SUI problem, so I’ll be closing the thread as a usage question; I think it’d be best to ask around Vue communities.

[2017-10-23 19:50] #5888 closed

[2017-10-23 22:55] tdewolff commented on #5497
I encountered this as well, I fixed this with manual CSS line giving `.ui.menu.fixed` a `z-index` over `1000`.

[2017-10-24 04:05] luoage commented on #5868
I have the same error, it confused me for days.
[code]

[2017-10-24 05:24] vinayakkulkarni commented on #5772
Closing this till @burslane provides a test case.

[2017-10-24 05:24] #5772 closed

[2017-10-24 08:55] PurnimaCIC opened #5889 "Issue with Modal in IE 9"
Hi,

I am getting error 'Modal Undefined' when trying to invoke in IE 9 browser.The same is working in other browsers.Could you please let me know if there is any fix specific to IE 9

[2017-10-24 09:11] vinayakkulkarni commented on #5889
Dear @PurnimaCIC,

SUI supports IE 11+, take a look here: https://github.com/Semantic-Org/Semantic-UI#browser-support

[2017-10-24 09:11] #5889 closed

[2017-10-25 19:20] carlwgeorge commented on #3571
I think I'm seeing a similar issue using structured tables.  The left border of the "3" cell appears to be thicker than the "1" and "2" cells' left borders.

https://jsfiddle.net/eyhdq56b/

[2017-10-25 23:01] CrushedPixel commented on #4659
I'd really like to see this as well, as I can't think of a pretty and simple way to dynamically add the `inverted` class to all `ui` elements when toggling night mode in my app.

[2017-10-26 05:28] mdddb commented on #5868
Same problem here. Semantic scrollbar doesn't change position(stays at the top, modal content scrolls) when scrolled using mousewheel, and mouse pointer offset exists. If modal is scrolled by dragging semantic scrollbar, everything works. And after one time dragging mousewheel scrolling also works as expected

[2017-10-26 07:08] pgundlach opened #5894 "German translation should be removed completely"
Sorry for the harsh words, but as a German speaking user, I think the German translation does more harm than good. It is in some cases even nonsense.

Let's take the page https://semantic-ui.com/elements/container.html for example. It's a small page, but anyhow:

* "Wann Zu Verwenden" - (probably 'when to use') the word "zu" must be in lower case. But the sentence does not make much sense in Germa

[2017-10-26 07:36] Galeups opened #5895 "Add data-* to dropdown select options"
Hello.I have problem  of adding data-* to select options.
The task of displaying a block depends on the choice of the select option.
I can not use value ((
I need data-* or class of style, but all attributes clear (

Tnank`s )

[2017-10-26 08:23] YamiOdymel commented on #5863
I guess this won't be added in Semantic UI since it against with the spirit of Semantic UI. There should be no _global-classes_ in Semantic UI.

[2017-10-26 10:02] johnunclesam commented on #5863
@YamiOdymel, don't you see the utility of these classes?

[2017-10-26 10:19] jtranier opened #5896 "[Sidebar] Set the context seems to block window scroll event"
I've encountered an issue combining a sidebar with a context and visibility.

Here is a jsFiddle showing this : https://jsfiddle.net/jtranier/kvk0xnes/2/
When the context is defined for the sidebar, there is no alert thrown when scrolling the window.
If the context is remove (by commenting the context config), alerts are properly thrown when scrolling.

I've made few experiments with semantic-ui c

[2017-10-26 10:48] YamiOdymel commented on #5863
Of course I do, I love them when I was using Bootstrap, but we shouldn't bring everything from the other frameworks to Semantic UI (I remember that's why Semantic UI has no hamburger menu).

They are useful for quick layout designing, but it'll be verbose in the mid-late development. It also makes you harder to maintain the styles. You'll have to looking into each of the pages to change the styles

[2017-10-26 11:36] Banandrew commented on #5895
Hi @Galeups, could you please show your markup?

[2017-10-26 13:17] Galeups commented on #5895
Hi @Banandrew, of course.

html:
[code]

JS:
`$('.js-select').dropdown();`

I need ident selected option, to use in styles hidden or visible next block.
Selects In semantic-ui is very good! ))

[2017-10-26 16:42] Banandrew commented on #5895
@Galeups Заметил, что вы, кажется, говорите по-русски. Я не очень понял, то вы имели в виду, когда сказали, что он «очищается». Удаляется? Если вам нужно, чтобы `data-item` был у каждого `.menu .item`, то можно инициализировать компонент на [уже существующем HTML](https://semantic-ui.com/modules/dropdown.html#/usage), что-то типа этого:
[code]
Если это отвечает на вопрос, закройте, пожалуйста, тре

[2017-10-26 16:57] Galeups commented on #5895
@Banandrew  )) да, по русски привычнее.
Но мне бы хотелось использовать именно select, с присвоением каждому option пользовательских аттрибутов, для дальнейшей их стилизации и отслеживания выбора того или иного option.
Если я в разметке задаю дата аттрибуты, то они удаляются и я получаю разметку без моих data-*

[2017-10-26 18:12] 1-14x0r commented on #4659
we are currently working on a theme editor to allow you to style themes like old skool dreamweaver from adobe. however in the mean time check out this theme http://semantic-ui-forest.com/themes/bootswatch/darkly/ or http://semantic-ui-forest.com/themes/bootswatch/cyborg/

you can also import different themes on different views if you wish to use multiple themes.

but yes you are correct about the

[2017-10-26 20:29] aguyinmontreal opened #5897 "Pasting a sting containing commas makes a multiple search dropdown go crazy"
If you paste a string containing a comma (or multiple commas) into a multiple search dropdown with the `allowAdditions` setting set to `true`, the multiple search dropdown will go crazy and duplicate the string.  Then, if you have validations set up, the validations will stay stuck no matter if you remove the corrupted strings.

(you may need to click outside the dropdown then inside the dropdown

[2017-10-26 20:44] Banandrew commented on #5897
Hi, could you please provide a test case as per our [contributing guidelines](https://github.com/Semantic-Org/Semantic-UI/blob/master/CONTRIBUTING.md)? You can fork [this JSFiddle](https://jsfiddle.net/ca0rovs3/).

[2017-10-26 20:50] aguyinmontreal commented on #5897
Yes, the test case is the "MULTIPLE" field here https://semantic-ui.com/modules/dropdown.html#tagging-and-user-additions .

Simply paste this string "the Bunny, the Cat, and the Rat", then click outside the dropdown, then inside the dropdown, then outside the dropdown.

[2017-10-26 20:57] aguyinmontreal commented on #5897
Got it?

[2017-10-26 21:02] Banandrew commented on #5897
@aguyinmontreal Yes, thank you. I thought it was an issue with a delimiter, but changing it or disabling it does nothing. We’ll investigate.

[2017-10-26 21:25] Banandrew commented on #5895
@Galeups Вместо `input` в качестве хранилища можно использовать и `select`, если это необходимо, но бессмысленно в ключе стилизации, потому что при инициализации на `select`, компонент в любом случае строит аналогичный HTML из этого `select`, а сам `select` скрывает, используя его только в качестве хранилища данных—так что всё равно придётся стилизовать элементы `.menu .item`, а не сам `select`. Н

[2017-10-27 00:13] jdotchai opened #5898 "[Sidebar] Stop working after moved to https"
Semantic version: 2.2.6

My sidebar stop working after installed SSL. The sidebar do not hide / animating in when page is ready, it show up and stacked on the "pusher" div. Anyone have this issue and know how to fix it?

js:
`$('.ui.sidebar').sidebar('attach events', '.menu.text .item').sidebar('setting',{debug:true});`

html:
[code]

<img width="1276" alt="screen shot 2017-10-27 at 8 12 13 am" sr

[2017-10-27 03:29] aguyinmontreal commented on #5515
Any update on this issue? This issue is pretty bad :( , since a lot of users are using Samsung Internet.

It's not possible to debug using http://developer.samsung.com/remotetestlab/rtlDeviceList.action# ?

[2017-10-27 05:36] ktmn opened #5899 "Menu sizes may have big and huge mixed up"
In global variables the sizes go from _big -> huge -> massive_: https://github.com/Semantic-Org/Semantic-UI/blob/master/src/themes/default/globals/site.variables#L112

In menu variables they are _huge -> big -> massive_: https://github.com/Semantic-Org/Semantic-UI/blob/master/src/themes/default/collections/menu.variables#L446

[2017-10-27 06:35] Galeups commented on #5895
@Banandrew, спасибо большое за помощь, понял, что для стилизации целесообразнее использовать html разметку, наверно откажусь от использования select.
Боялся, что пострадает семантика, но получается, даже при использовании select, на странице строится разметка на div-ах.
Спасибо большое! )

[2017-10-27 08:59] #5895 closed

[2017-10-27 12:58] hanssen commented on #5220
I can confirm this behaviour on an android tablet, with the app wrapped in cordova.

[2017-10-27 14:04] rodrigopires commented on #5870
Updated Chrome today to the newest version (62.0.3202.75), and the shadows are no longer being displayed.

[2017-10-27 14:04] #5870 closed

[2017-10-27 15:05] aguyinmontreal commented on #5758
@Banandrew Just a hint, to debug on Samsung Internet, you can install it on non-Samsung devices:

https://www.androidauthority.com/samsung-internet-browser-android-793983/
https://play.google.com/store/apps/details?id=com.sec.android.app.sbrowser&hl=en

or preview the changes on Samsung Developers
http://developer.samsung.com/remotetestlab/rtlDeviceList.action#

[2017-10-27 15:05] aguyinmontreal commented on #5515
@Banandrew Just a hint, to debug on Samsung Internet, you can install it on non-Samsung devices:

https://www.androidauthority.com/samsung-internet-browser-android-793983/
https://play.google.com/store/apps/details?id=com.sec.android.app.sbrowser&hl=en

or preview the changes on Samsung Developers
http://developer.samsung.com/remotetestlab/rtlDeviceList.action#

[2017-10-27 15:05] aguyinmontreal commented on #5514
@Banandrew Just a hint, to debug on Samsung Internet, you can install it on non-Samsung devices:

https://www.androidauthority.com/samsung-internet-browser-android-793983/
https://play.google.com/store/apps/details?id=com.sec.android.app.sbrowser&hl=en

or preview the changes on Samsung Developers
http://developer.samsung.com/remotetestlab/rtlDeviceList.action#

[2017-10-27 15:06] aguyinmontreal commented on #5341
@Banandrew Just a hint, to debug on Samsung Internet, you can install it on non-Samsung devices:

https://www.androidauthority.com/samsung-internet-browser-android-793983/
https://play.google.com/store/apps/details?id=com.sec.android.app.sbrowser&hl=en

or preview the changes on Samsung Developers
http://developer.samsung.com/remotetestlab/rtlDeviceList.action#

[2017-10-27 15:27] Banandrew commented on #5515
Hi @aguyinmontreal, that’s what I did. I didn’t have a chance to use my brother’s Samsung for debugging, so my last post lead to nothing. I was planning to try their remote test lab, but haven’t had the time to do it; I will if I won’t be busy until January.

Since we’re talking about it again, what’s the current version of the browser in Google Play, did they update it?

[2017-10-27 16:13] aguyinmontreal commented on #5515
@Banandrew   it doesn't say the version, but it says it has been last updated on October 25, 2017.  There is also a "beta" version on GooglePlay https://play.google.com/store/apps/details?id=com.sec.android.app.sbrowser&hl=en which is version 6.2.01.7 https://play.google.com/store/apps/details?id=com.sec.android.app.sbrowser.beta&hl=en

[2017-10-27 16:57] aguyinmontreal commented on #5515
@Banandrew Maybe you would want to explain the issue here:  https://github.com/SamsungInternet/support/issues  (Samsung browser issues)

[2017-10-27 17:00] Banandrew commented on #5515
@aguyinmontreal Thank you, I’ll see if I can gather more information and will go from there.

[2017-10-27 17:57] Banandrew commented on #5898
Hi @jdotchai,

Thank you for posting, but although it’s a valid usage question, we’ve limited GitHub Issues to bug reports and feature requests, keeping the board more manageable for maintainers; see the [contributing guidelines](https://github.com/Semantic-Org/Semantic-UI/blob/master/CONTRIBUTING.md) for more information on what kind of posts should find themselves into the GitHub Issues board.

[2017-10-27 17:57] #5898 closed

[2017-10-27 21:01] savolkov opened #5900 "[Popup] Popup on manual shouldn't stay after parent accordion is closed"
Hello!

You can see the case here: https://jsfiddle.net/savolkov/twxrg9ax/
When popup is manually shown, it doesn't disappear when the accordion is minimized. Not sure if it is supposed to be so.

[2017-10-27 21:10] savolkov opened #5901 "[Accordion] Incorrect behavior of accordion in accordion (not nested)"
Hello!

You can see the case here: https://jsfiddle.net/savolkov/xbfnvy8h/2/
When accordion in accordion is used, it leads to unexpected behaviour.

_P.S. Yep, we know about nested accordions_

Thanks

[2017-10-28 03:55] jeremy091 commented on #5899
Been using semantic UI for a school project, and in the spirit of Hacktoberfest I thought I'd help fix some bugs.

I know it's not much, but I hope it's one less thing for you to do!

[2017-10-28 11:37] dev-fullstacktechnology commented on #3076
Hello, I have six tabs on my page. But when I switched on the tablet view have a width of 1024px, It will staring to overflowing. I previously posted my issue on ng2-semanti-ui, but since it is an issue of design I am looking for a solution. I used this.

[2017-10-28 23:00] jackttcoms opened #5903 "Why is teal inverted button a more fluorescent one"
`<button class="ui inverted button teal">Join</button>
<button class="ui button teal">Join</button>`

If you have a look its a different teal why is this?

[2017-10-28 23:07] jackttcoms opened #5904 "[Menu] Allow using the button component in the .secondary.menu"
https://jsfiddle.net/qbduas1f/

In an update is it possible to make it so you can put an important button on the naviagtion but still have it this way for example if you look at the join button in an update could there be an important tag or something that removes the background so there is not almost two buttons thanks

[2017-10-28 23:10] jackttcoms commented on #5858
thanks that worked fine

[2017-10-29 03:57] RupehraChouhan commented on #5802
I am also seeing this issue when I set the type to empty.

[2017-10-29 13:05] buckle2000 opened #5905 "Add .ui.hidden to all elements"
Currently,  only dividers can be hidden using `.ui.hidden` class.
What about we can let every element be invisible with `hidden` class?

[2017-10-29 13:42] Banandrew commented on #5905
Hi @buckle2000, you can use the transition component for that by adding `.transition.hidden` classes to an element. Hidden dividers, on the other hand, serve a different purpose: they still divide content, but without creating a dividing line. It’s a component variation, not a way to hide an element.

[2017-10-29 13:42] #5905 closed

[2017-10-29 13:44] Banandrew commented on #5858
Closing as resolved.

[2017-10-29 13:44] #5858 closed

[2017-10-29 14:19] Banandrew commented on #5901
Linking a probably related issue: #5447.

[2017-10-29 14:28] Banandrew commented on #5900
Hi @savolkov, sorry for the delay, it’s supposed to behave like that. `manual` implies that it’s a developer’s responsibility to manipulate the popup.

[2017-10-29 14:28] #5900 closed

[2017-10-29 15:02] savolkov commented on #5900
@Banandrew Thanks for reply!

Could you also please comment on this situation?
https://jsfiddle.net/savolkov/ou575txv/3/
Should popup on manual be higher than modal?

[2017-10-29 15:20] Banandrew commented on #5900
@savolkov I don’t know. Apparently there was supposed to be a discussion about it 2 years ago, but it lead nowhere: #2269. In any case, if you don’t want this behavior, you can override it in `installation_folder/src/site/modules/popup.variables`: copy `@zIndex: 999;` there and rebuild the framework. The modal uses a `z-index` of `1000`, so setting it to `999` should do it.

[2017-10-30 10:23] chrisandchris commented on #2072
I really like the syntax of semantic-ui because it's highly readable and much more easier to write as other frameworks, like bootstrap.

But, even with that in mind, it is quite impossible imho to succeed for semantic-ui when the founder does not give any permission/possibility for other people to manage work for him. There is a huge bunch of pull requests open and quite a lot of issues. Forking i

[2017-10-30 15:50] flashspys commented on #5878
Here is a CSS snippet to support `<div class="ui horizontal segments equal width">`
[code]

[2017-10-30 20:57] joeyslack commented on #5857
@oguzhansari Maybe you don't know, but this feature already exists. You need to use the attribute: `data-validate`. When you specify data-validate you can write your validation like normal, just specify the name you used in the data-validate attribute. See https://semantic-ui.com/behaviors/form.html#/examples#using-server-name-attributes

[2017-10-31 01:29] arthurlacoste commented on #1521
I have made a fork for this issue : https://github.com/arthurlacoste/semantic-ui-offline

You cant use this for the css with fonts includes :
[code]

[2017-10-31 01:32] arthurlacoste commented on #4350
You can use font locally instead of using Google Font or any CDN :

[code]

[2017-10-31 01:37] arthurlacoste commented on #5642
I have made a fork for this issue : https://github.com/arthurlacoste/semantic-ui-offline

You cant use this for the css with fonts includes :
[code]

[2017-10-31 05:10] huseyinkozan commented on #1521
@arthurlacoste Thanks. Will you continue to support newer versions ?

[2017-10-31 10:24] m4ikel commented on #5176
This issue is very much critical, going to dive into it today.

[2017-10-31 11:20] mamaevaksu opened #5906 "[Popup] - Wrong positioning popup"
**Steps to Reproduce**
1. Create
  `<div class='a' style={position: 'relative', top: '100px'}>`
    `<div class='b'>`
  `    bbb`
  `  </div>`
  `</div>`
  `<div class='ui popup'>tooltip</div>`
2. Create popup: $('.b').popup({popup: '.ui.popup', movePopup: false})
3. Hover on div.b

**Expected**
The Popup should show on top left position

**Result**
The Popup bottom position wrong
$offsetParent va

[2017-10-31 11:35] m4ikel commented on #5176
Debug: No animation defined in CSS: scale in

[2017-10-31 14:41] m4ikel commented on #5176
`$clone = $('<' + tagName + ' />').addClass( elementClass ).appendTo(document.body);`

[2017-10-31 14:42] shanehsu commented on #5251
@Banandrew Is this going to be implemented?

[2017-10-31 17:52] Banandrew commented on #5251
Hi @shanehsu, I don’t know, I’m not the maintainer.

[2017-10-31 18:09] Banandrew commented on #5906
Hi @mamaevaksu, your test case is empty.

[2017-10-31 19:48] borglin opened #5907 "[Form] Fields within Grouped Fields should have standard padding"
If you use `.fields` with a `.grouped.fields` block they no longer have the normal padding surrounding them.

<img width="772" alt="screen shot 2017-10-31 at 15 44 36" src="https://user-images.githubusercontent.com/6277414/32245574-8b013f3a-be52-11e7-841d-ae185b482584.png">

http://jsfiddle.net/rurxxoa9/

Unless this is the intended behaviour, I would suggest changing:

[code]

to:

[code]

which,

[2017-11-01 03:00] jasan-s opened #5908 ":ActiveHover is not a valid selector error"
`http://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/semantic.min.css`
contains a invalid css selector for the label  element:

https://github.com/Semantic-Org/Semantic-UI/search?utf8=%E2%9C%93&q=%3AActiveHover&type=

[2017-11-01 03:59] martoo6 commented on #1414
if anyone comes around the same issue the problem is that response[fields.results] fails the following validations made on the search module.
[code]
In order to fix it fields.results must be set correctly on the search configuration and must be a non empty array.

[2017-11-01 08:35] qingdi commented on #870
still wrong

[2017-11-01 09:34] mamaevaksu commented on #5906
Done)

[2017-11-01 11:53] DerKnerd opened #5909 "LESS Build failes"
We are trying to use semantic UI in a project but when we call `gulp build` we get the following error message:

[code]

The server is a vagrant [scotchbox](https://box.scotch.io/).

Can anyone help fixing this issue?

[2017-11-01 15:31] stoically opened #5910 "Run gulp build multiple times in a Custom Pipeline"
Hi there,

thanks for your awesome work on SemanticUI!

I was following the instructions to integrate the gulp build process into my [own gulp pipeline](https://semantic-ui.com/introduction/advanced-usage.html) and had the need to execute the build task multiple times for multiple themes. This failed because the build function pushes the tasks onto an [array](https://github.com/Semantic-Org/Semant

[2017-11-01 15:41] tomsmalley opened #5911 "[List] data-value on <div> list items is ignored"
https://jsfiddle.net/6ohwqmxe/1/

The docs state:

https://semantic-ui.com/elements/list.html#ordered

JSFiddle shows `value` on `<li>` works correctly, but `data-value` on `<div class="item">` does not.

[2017-11-01 15:52] magiksd opened #5912 "[Popup] Wrong positionning in a modal"
**Steps to Reproduce**
1. Open testcase
2. Click on the blue buttons (you can scroll the modal)
3. Increase the width of the preview frame (maximize it) and click again

**Expected**
The Popup should position next to its button

**Result**
The Popup does not position correctly and goes to the right

**Testcase**
http://jsfiddle.net/6mt4kj5e/2/

[2017-11-01 20:23] fefas commented on #3243
This issue is too old.. closing it..

[2017-11-01 20:23] #3243 closed

[2017-11-01 22:23] merravid opened #5913 "[Popup] should open in new location when clicking on another trigger element."
When there are several triggers for the same popup (for example a context menu for a list of items on a page), clicking on a second trigger should open the popup in the new location instead of closing the first popup.

See: https://jsfiddle.net/mptest/vbm6ddja/1/

[2017-11-02 03:31] haiquan commented on #870
Please use $('.ui.form') in the console to check how many elements it can find. If more than one, you should add your custom form class for each form, such as
[code]

Then use the added custom form class, not the ".ui.form", to write your code.

[code]

[2017-11-02 04:46] Virushaan opened #5914 "Centre logo item inside semantic menu"
Hi, how can I go about centering a item (a company name for example) inside a navbar? I need the company name to be horizonally centered on the page, not just in the middle of the navbar div.

[2017-11-02 04:50] Banandrew commented on #5914
Hi @Virushaan,

Thank you for posting, but although it’s a valid usage question, we’ve limited GitHub Issues to bug reports and feature requests, keeping the board more manageable for maintainers; see the [contributing guidelines](https://github.com/Semantic-Org/Semantic-UI/blob/master/CONTRIBUTING.md) for more information on what kind of posts should find themselves into the GitHub Issues board.

[2017-11-02 04:50] #5914 closed

[2017-11-02 11:55] hubertguillemain opened #5916 "[Card] Add additional header sizes"
I find the Card Header to be too big.
The workaround I use today is to use custom tabs like strong, but it's not in the way of SUI

It would be nice to be able to define the card's header size, like

[code]

[2017-11-03 11:21] hubertguillemain commented on #222
Coming back on this topic: there are many Rich text editors out there, absolutely
I think the requirement is to maintain look and feel with the rest of Semantic UI (buttons, font, focus, ....)

[2017-11-04 00:29] nbkhope commented on #1684
Could someone clarify whether "large monitor" actually exist? As opposed to "large screen."

Also, please clarify for "widescreen monitor."

In the docs @ https://semantic-ui.com/collections/grid.html#device-visibility
the "Large Screen" vs "Widescreen" have the same class `two column large screen only row`, so what's the point? Was that a mistake?

[2017-11-04 10:51] erlangp opened #5917 "[Modal] - Add feature to set the parent modal"
Please add feature to set the parent modal. So when close the child modal, automatic show parent modal. Thanks 😄

[2017-11-04 10:55] johnunclesam opened #5918 ".ui.pointing.label margin-bottom."
I have this code:

[code]

I think the margin is broken.

Now it is:

[code]

What works is:

[code]

Am I wrong?

[2017-11-04 11:48] johnunclesam opened #5919 "Am I wrong if I say we miss "mobile" dimensions?"
Although it is not clear in the documentation, I understand that we have:

- **mobile** only will only display below 768px
- **tablet** only will only display between 768px - 991px
- **computer** only will always display 992px and above
- **large screen** only will only display between 1200px - 1919px
- **widescreen** only will only display 1920px and above

Maybe we miss a **mobile** and small **

[2017-11-04 14:51] Banandrew commented on #5917
Hi @erlangp, could you please elaborate and explain your use case? It seems that it’s rather pointless to add something as simple as this to the core; you can already use the [attach events](https://semantic-ui.com/modules/modal.html#attach-events) method as a shorthand.

[2017-11-04 14:54] Banandrew commented on #5918
Hi, could you please provide a test case as per our [contributing guidelines](https://github.com/Semantic-Org/Semantic-UI/blob/master/CONTRIBUTING.md)? You can fork [this JSFiddle](https://jsfiddle.net/ca0rovs3/).

[2017-11-04 15:43] #5917 closed

[2017-11-04 15:45] 20ashah commented on #4241
m

[2017-11-04 22:30] rtarnaud commented on #3574
I elaborated on @pareeohnos idea and came up with an ok work-around. I post it here in case it can be of use to someone:

[code]
It assumes that you created a span inside the div.field containing the error message that you want to display when necessary. As far as I know, it does not disrupt the display of messages when 'on' is set to submit or change.

[2017-11-05 09:36] blu94 commented on #2796
+1

[2017-11-05 12:16] mh-cbon commented on #3531
hi,

i think i m facing this issue. I did not build semantic from scratch, i downloaded pre compiled packages from the website (https://github.com/Semantic-Org/UI-Form/archive/master.zip && https://github.com/Semantic-Org/Semantic-UI-CSS/archive/master.zip).

I have html like this,

[code]

When i add the `checked` class to `.start`, it won t animate the toggler.

I searched for the .checked selec

[2017-11-05 21:49] bbernhard opened #5920 "[Search] Search popup should be correctly positioned in stackable grid"
**JSFiddle:**
https://jsfiddle.net/r0eydLve/

**Steps to reproduce:**
* Enter something (e.q `Hallo`) in the search bar and wait until the search popup opens.

As you can see in the JSFiddle (and in the attached screenshot), the popup doesn't get correctly positioned. If you replace the `stackable grid` with `grid`, everything looks fine.

![semantic-ui-search-bug](https://user-images.githubuserco

[2017-11-06 00:49] shawwn opened #5921 "[Card] - Example code is incorrect"
**Steps to Reproduce**
1. go to https://semantic-ui.com/views/card.html
2. copy-paste the "elliot" card's source code into a jsfiddle
3. ensure img src links are absolute, e.g. "https://semantic-ui.com/images/avatar/large/elliot.jpg"
4. notice that the elliot wireframe image is missing

**Expected**
The elliot card should look identical to the semantic-ui documentation example:
![image](https://us

[2017-11-06 01:02] shawwn commented on #5921
Strange... on https://semantic-ui.com/views/card.html, the elliot example source code is clearly incorrect:

![image](https://user-images.githubusercontent.com/59632/32421184-6794fdf4-c25b-11e7-80c2-582bab7155b6.png)

But your repo's source code seems fine:

https://github.com/Semantic-Org/Semantic-UI-Docs/blob/74306d36dd7dcbd00b2d2660bd9bc8acccacbd04/server/documents/views/card.html.eco#L58-L60

[2017-11-06 12:10] Banandrew commented on #5920
Hi @bbernhard, that’s because of the `.center.aligned.column` that sets `text-align: center;`. I feel like it’s a general CSS issue, but we’ll investigate.

You’ll have to override the source. Open `installation_folder/src/site/modules/search.variables`, add the following, then rebuild the framework:
[code]

[2017-11-06 12:15] Banandrew commented on #3531
Hi @deneuxa, thank you, let’s track it in one place; I’m reopening the initial issue.

[2017-11-06 12:15] #3531 closed

[2017-11-06 12:16] Banandrew commented on #2506
This is an issue again.

[2017-11-06 13:16] lafritay commented on #5323
@naickyserrano and anyone else who hits this issue: I tracked this down to an issue with my .gitignore file.  I'm using the default Visual Studio .gitignore file.  It has an entry to ignore and folder named "build".  When you run "npm install semantic-ui" it copies a folder called "build" into semantic/tasks (as well as doing a bunch of other things).  Generally, you commit the results of that int

[2017-11-06 13:26] johnunclesam commented on #5918
Ok. Here it is: https://jsfiddle.net/johnsam/9ukke71w/2/

[2017-11-06 18:33] nickpoulos commented on #3117
Can you elaborate on "modifying the white-space css on a particular dropdown"?  Because this still seems to be an issue? Unless I am missing something, the only way I've been able to get around this is by removing the min-width property from the original Semantic CSS.

[2017-11-06 18:51] Vitucho commented on #5213
implementation proposal:

          exactSearch: function (query, term) {
            var diacriticsRegexByReplacement = {
              'a' : /[âãäåāăą]/g,
              'e' : /[èééêëēĕėęě]/g,
              'i' : /[ìíîïìĩīĭ]/g,
              'o' : /[óôõöōŏő]/g,
              'u' : /[ùúûüũūŭů]/g,
              'c' : /ç/g,
              'n' : /ñ/g,
            }
            query = unaccent(query.t

[2017-11-06 18:53] Vitucho commented on #3287
implementation proposal:

          exactSearch: function (query, term) {
            var diacriticsRegexByReplacement = {
              'a' : /[âãäåāăą]/g,
              'e' : /[èééêëēĕėęě]/g,
              'i' : /[ìíîïìĩīĭ]/g,
              'o' : /[óôõöōŏő]/g,
              'u' : /[ùúûüũūŭů]/g,
              'c' : /ç/g,
              'n' : /ñ/g,
            }
            query = unaccent(query.t

[2017-11-06 22:37] robclancy commented on #3382
Wow how is this still a thing? They added a setting to disable adding the touch even and never used it.  TWO years later after being reported and being a very simple thing to do I find myself here. What a joke.

[2017-11-07 01:55] lm5645 opened #5922 "兼容性问题"
对IE的兼容

[2017-11-07 08:27] shadoWalker89 opened #5923 "[Build Tools] build-css does not build rtl"
Hi,

When i run gulp `build-css` only the `ltr` version is built.

The `rtl` version of css is built only when i run the `gulp build` command

When i checked the code for the two tasks i found that the logic for building the rtl version of the css is in the `build` command file and not in the build css task file.

[2017-11-07 08:56] Banandrew commented on #5922
Hi @lm5645, could you please elaborate? How to reproduce it?

[2017-11-07 09:35] Prasadu112 opened #5924 "cant popup the modal"
**this is my view**

var Addjob_layout =Marionette.ItemView.extend({
    template: AddJobTemplate,
    render: function () {
      $(".ui .modal").modal("show");

});
var addjob_obj = new Addjob_layout();
addjob_obj.render();

**AddJobTemplate.html**

_<div class="ui modal">
  <i class="close icon"></i>
  <div class="header">
    Profile Picture
  </div>
  <div class="image content">
    <div clas

[2017-11-07 10:36] MrKrisKrisu opened #5925 "No CSS for input type datetime"
Input Elements with type "datetime" have no CSS.

<input type="datetime" name="checkin" value="07.11.2017 10:31">

It has the default Browster Styling. Even it is in "ui form" and "field" class.

[2017-11-07 11:36] brunotourinho commented on #5213
Hi @Vitucho! Thanks for sharing! Where do I place your code to make it work? In a separated file or just replacing the original function?

[2017-11-07 12:25] Banandrew commented on #5924
Hi, could you please provide a test case as per our [contributing guidelines](https://github.com/Semantic-Org/Semantic-UI/blob/master/CONTRIBUTING.md)? You can fork [this JSFiddle](https://jsfiddle.net/ca0rovs3/).

[2017-11-07 12:30] Banandrew commented on #5918
@johnunclesam `.label` elements should be inside of the `.field` containers:
[code]

[2017-11-07 12:30] #5918 closed

[2017-11-07 17:31] Vitucho commented on #5213
Hi @brunotourinho i just replaced the entire function, look in the semantic.js code for the function `exactSearch` and replace the implementation it should do the trick!!

[2017-11-07 23:20] MrKrisKrisu commented on #5925
fixed in pull-request:
https://github.com/Semantic-Org/Semantic-UI/pull/5926

[2017-11-07 23:20] MrKrisKrisu commented on #5925
fixed in pull-request https://github.com/Semantic-Org/Semantic-UI/pull/5926

[2017-11-08 02:12] andygmorris commented on #5176
@m4ikel Thank you for your efforts. Confirmed as working on the Semantic-UI website now when using a Samsung S7 Internet Browser application. Who now should close this issue as Closed/Resolved??

[2017-11-08 04:58] Panoplos commented on #5821
I finally figured out what the problem was! In the default `.yarnclean` config file, it is specifying `assets` as a directory to "clean", which was deleting all assets. Really stupid problem and not sure why yarn clean has implemented defaults in this manner... I will report the issue in their repo.

[2017-11-08 05:06] Panoplos commented on #5821
See: https://github.com/yarnpkg/yarn/issues/4879

[2017-11-08 09:49] theronic commented on #169
I can't find the reference in the #396 discussion. I want to do something like this, where the left icon is an action and the right icon is a state like loading / error:

![image](https://user-images.githubusercontent.com/1011676/32542318-df5ffe4e-c47a-11e7-93cb-4b67d9628be6.png)

Is this still possible?

[2017-11-08 11:05] Banandrew commented on #5176
Hello everyone.

@m4ikel, could you please open a PR against the `next` branch in this repository?

Once the PR is opened, the issue will stay open until the PR’s merged. Unfortunately, I can’t say when it’s going to happen, because the only one who can do that is the maintainer.

[2017-11-08 13:59] kristjanmik commented on #3517
Any news on the sketch document? @Banandrew the link you provided is outdated by more than two years :)

[2017-11-08 14:28] Banandrew commented on #3517
Hi @kristjanmik, no news unfortunately. Official documents never existed, so we have what we have.

[2017-11-08 14:37] mamaevaksu opened #5928 "[Modal] - window does not hide on click on dimmer after onHide return false once"
**Steps to Reproduce**
1. Open first window
2. Set first window onHide: don`t hide window when the second window opened and we click on dimmer
3. Open second window
4. Click on dimmer twice

**Expected**
The second modal should close, when we click to dimmer first time.
The first modal should close, when we click to dimmer second time.

**Result**
The first modal does not hide

**Testcase**
http:/

[2017-11-08 15:23] Banandrew commented on #5821
Thank you, @Panoplos. Their response seems to be reasonable, and I think the thread can now be closed as resolved.

[2017-11-08 15:23] #5821 closed

[2017-11-08 16:12] arthurlacoste commented on #1521
@huseyinkozan yes, [I've made a script to handle any change](https://github.com/arthurlacoste/semantic-ui-offline/blob/master/bin/recreate.js). 🍸

[2017-11-08 21:18] matthew-p commented on #5909
I'm getting the same error

[2017-11-09 03:01] ansarizafar commented on #5867
I totally agree with @shumy.

[2017-11-09 06:13] LearnPhalcon opened #5930 "[Tab] Add means to cycle over tabs, e.g. “Previous”/“Next” buttons"
Is there a way to add [PREV] and [NEXT] links to tabs ?

Something like this;

      [prev] [next] [tab1] [tab2] [tab3] [tab4] [tab5]

Then when clicked it would switch to prev or next tab.

[2017-11-09 08:52] QuDDoSS opened #5931 "When I open the pop-up, the google font is reloaded"
When I open the pop-up, the google font is reloaded and blinked

http://prntscr.com/h797qw

[2017-11-09 09:52] Banandrew commented on #5930
Hi @LearnPhalcon, there isn’t, you’ll be able to implement it, but, I think, it will break some internal things like path caching. If you’re going to do it, it’ll be best to fork the component.

[2017-11-09 09:59] Banandrew commented on #5931
Hi @QuDDoSS, I can’t seem to reproduce. You can try self-hosting the font, I posted the instructions [here](https://github.com/Semantic-Org/Semantic-UI/issues/5642#issuecomment-321421683).

[2017-11-09 11:21] chimsgraphic commented on #2820
Am experiencing same issue.

[2017-11-09 12:04] krisrogers opened #5932 "Blurred Modal Interferes with fixed layout"
Applying filter: blur on the body element seems to cause issues with some layouts.

Here is a simple case with fixed header and content with margin-top that reprdouces the issue:
https://jsfiddle.net/fo9sr51h/

A more general description of the problem: https://stackoverflow.com/questions/37949942/firefox-position-bug-by-parent-with-filter

[2017-11-09 13:26] slawkens commented on #1727
You can also make a disabled element as category header.
This also looks nice with semantic-ui.

Like this:
[code]

[2017-11-09 13:26] mrtylerzhou opened #5933 "Will you intergate this awesome ui with vue and angular?"
thus,it will be a full stack ui for the web

[2017-11-09 13:27] usman-arham opened #5934 "[Dropdown] Mutation observer does not work if mutations target = options"
https://github.com/Semantic-Org/Semantic-UI/blob/ef94ea8e65ddd8639fd5c2aa30fd6ff8ad8d06af/src/definitions/modules/dropdown.js#L1113

on the above line @jlukic you are checking if the mutation target = "Select", but i am facing a case where i am dynamically changing the select options only and the mutations that are produced have target = "Options" and i want the dropdown to update and show the new

[2017-11-09 14:26] romu70 opened #5935 "Input field inside a transition has a wrong display mode"
Please check this fiddle: https://jsfiddle.net/f4cufkv3/

The input field is placed in a transition and had its display mode set to "block". As a result, its width is incorrect.

I hack it by forcing its display mode to "flex" to make it as wide as its container.

[2017-11-09 16:36] rereradu opened #5936 "Meteor - Font Awesome 4.7"
Are Semantic-UI-Meteor-Data and Semantic-UI-Meteor repositories still maintained?
I use Semantic-UI-Meteor in my project and I miss some of the latest icons added in Font Awesome 4.7.

[2017-11-09 19:22] Banandrew commented on #5936
Hi @rereradu, unfortunately, I can’t answer the question, but we’re already tracking it here: #5675. I was going to mention it to the maintainer before the next release, not sure when it’s going to happen, though.

[2017-11-09 19:22] #5936 closed

[2017-11-09 21:46] lucachaco opened #5937 "[Search] - wrong results"
**Steps to Reproduce**
1. Go to http://www.fantasticcostarica.com/
2. Search for "hola"
3. See the results and note no result has the string "hola" in it.

**Expected**
No results should show

**Result**
One result is matching "Cerro Chato" but this results has nothing to do with the query: 'hola'

[2017-11-09 21:51] Banandrew commented on #5937
Hi @lucachaco, please try setting `searchFullText` to `false` and let me know if it helped.

[2017-11-09 22:01] lucachaco commented on #5937
If I do that it only shows results matching at the beginning of the string and ignores all matches in the middle of the string.

[2017-11-09 22:03] lucachaco commented on #5937
According to doc: By default, results will return content first that begins with the query text, but also afterward content that matches the query anywhere inside.

[2017-11-09 22:14] JamesJGoodwin opened #5938 "[Sticky] - Sticky does not allow me to scroll when it's height is bigger than content height"
Hello. I'm expiriencing an issue with Sticky. So, when sticky height is bigger than content height - it's just blocking without any ability to scroll the page.

Take a look at my test case: https://jsfiddle.net/JamesJGoodwin/2Lwgo7n4/2/

After JSFiddle load try to scroll the fiddle's body.

[2017-11-09 22:18] Banandrew commented on #5937
@lucachaco Right, sorry about that, we’ll investigate.

[2017-11-10 01:17] JamesJGoodwin commented on #5938
IMO, `observeChanges` option should watch not only for _Sticky's_ content, but for _Content's_ content too. And when sticky has been resized, `observeChanges` should compare Sticky's and Content's heights and in case when `Sticky_height > Content_height` get Sticky's height value and assign it to Content so that both Sticky and it's Content would be the same heights. Much thanks in advance.

[2017-11-10 08:23] maxpaj commented on #5628
How did you solve it?

[2017-11-10 08:34] rushikeshbhadre opened #5939 "seamantic ui search for type category is not working"
Hi all,
I am trying Semantic UI "search" type "category" example by using Local content,
but it is not working, I think local JSON content format is wrong.
can anybody tell whats wrong with code or JSON format?

[code]
[code]

[2017-11-10 08:41] vinayakkulkarni commented on #5939
Hi @rushikeshbhadre,

As per our guidelines, You can make a test case by forking this [JSFiddle](https://jsfiddle.net/ca0rovs3/)

Also, since this is a usage questions, i urge you to join the [discord chat](https://discord.gg/7vqmGxa) or join us on [gitter](https://gitter.im/Semantic-Org/Semantic-UI) channel to get this resolved ASAP.

Closing this as it's a usage related question.

[2017-11-10 08:41] #5939 closed

[2017-11-10 17:22] eldjango opened #5940 "Sketch files of deleted repo: https://github.com/garystover/Semantic-UI-Kit"
Hi folks, I wanted to ask if someone has the files of this repo since its down and the user is also deleted.

It looks like it was the most complete library for sketch, but now I can't find any forks or copies anymore:
https://www.pinterest.de/pin/320529698465231699/

Regards

[2017-11-10 19:25] msalafia opened #5941 "[Dropdown] - "Element is no longer attached to DOM. Unable to animate. slide down out" using Angular 4"
I have implemented a Menu using the Dropdown in an Angular Component. **Sign out** dropdown item is a router link, so clicking on it cause a redirection on another component. When i do this it returns the following error:

 This is as it appear:
![image](https://user-images.githubusercontent.com/11465611/32674607-3ad58a16-c654-11e7-9498-1f0c37062b29.png)

and this is the code

[code]

After the re

[2017-11-10 20:30] Banandrew commented on #5941
Hi @msalafia, I know nothing about Angular, but I’m assuming this is an issue with Angular lifecycle, and it would probably be best to ask around Angular communities first. In any case, although it’s a valid usage question, we’ve limited GitHub Issues to bug reports and feature requests to keep the board more manageable for maintainers, so I’ll closing the thread because of that.

[2017-11-10 20:30] #5941 closed

[2017-11-10 20:33] Banandrew commented on #5933
Hi @mrtylerzhou, sorry for the delay. There’re no plans for such integrations at this time.

[2017-11-10 20:33] #5933 closed

[2017-11-11 03:15] vandolphreyes opened #5942 "Icons are not displaying like was expected"
I want to use 'alarm mute icon' but it's showing the mic mute icon instead of bell muted icon. Other icons like mute are not behaving properly also.

Im using version 2.1.8.

Thanks

[2017-11-11 04:42] Banandrew commented on #5942
Hi @vandolphreyes, it was fixed in `2.2`. If updating to `2.2` is not an option, you’ll have to patch it in `installation_folder/src/site/elements/icon.overrides`. Here’re the latest icon definitions for the reference in case you need them:

https://github.com/Semantic-Org/Semantic-UI/blob/796d2f66e26ae5bb76c604fe6a36914ad3d2fe2a/src/themes/default/elements/icon.overrides#L1-L4

[2017-11-11 04:42] #5942 closed

[2017-11-11 10:05] jackttcoms opened #5943 "Dynamically load data into Semantic UI Modal Window?"
https://www.codexworld.com/bootstrap-modal-dynamic-content-jquery-ajax-php-mysql/

Is it possible to do something like this in Semantic UI because looks very handy and if not will you add it

[2017-11-11 10:05] #5903 closed

[2017-11-11 10:48] zyzniewski commented on #4703
England Flag: https://github.com/Semantic-Org/Semantic-UI/pull/5944

[2017-11-11 14:37] em opened #5945 "[Dropdown] should open on mousedown"
The current behavior of dropdown requires a full click (mousedown+mouseup) to open the menu.

If you look at the UI of every major operating system - this has been really nailed down. As a user, I can mousedown, drag my mouse, and mouseup to select an item in a single action. Alternatively, I can do single-click on the activation area, and the menu will stay open. The latter is useful for multi-se

[2017-11-11 16:27] rbtsolis commented on #5940
I found this [repo](https://github.com/guacamoly/semantic-ui-kit-for-sketch), its the same user, but in other account

[2017-11-11 18:47] msalafia opened #5946 "[Card] Image on the left"
I think that will be useful have the possibility to put the image of a Card on the left (or right) side and not only on the top. Something similar was done in Semantic UI Item. Have this possibility for Cards would be nice.
I mean something like this:

![image](https://user-images.githubusercontent.com/11465611/32692485-08e1d116-c719-11e7-8c59-9ffb67fc4cbc.png)

[2017-11-11 20:24] ocervell commented on #657
The `<span>` tag makes all the difference.

[2017-11-12 02:00] m4ikel commented on #5176
@Banandrew done https://github.com/Semantic-Org/Semantic-UI/pull/5947

[2017-11-12 11:38] #5943 closed

[2017-11-12 11:44] jackttcoms opened #5948 "ISSUE: Dropdown not displaying issue can anyone see problem"
Hi im using a dropdown on a navigation and for some reason when you click it the links are not full width but it only happens when a dropdown is on the end?. Am i doing something wrong because its never happened before thanks.

https://jsfiddle.net/fb93gL2j/
https://jsfiddle.net/nrzmkypw/

[2017-11-12 13:00] etshy opened #5949 "Menu responsive problem"
I have some problems with my menu.
The stackable option works only for mobile size but some elements get out of widow size before this size.
https://puu.sh/yklpk/a351a573ea.png

I tried to add "wide device" classes, but it works only in grid, apparently and I didn't find a way to correctly put a grid inside a menu.

Is there a way to have the mobile responsive comportment but for another size ?
or

[2017-11-12 18:31] jackttcoms opened #5950 "[Input] Add option to change input focus border"
With the forms, when you focus on them they have a blue border around them so in an update could it change to assigning a color to it e.g. teal and then the border goes orange!

As you can see its very basic but i just think it would improve on the already fantastic customization of Semantic UI

https://jsfiddle.net/fevrk8wL/

Thanks

[2017-11-12 19:16] stephanngamedev commented on #1998
I tried to use custom template (using items). But I can't control dropdown size. How to solve this?
![screenshot 2017-11-12 16 15 19](https://user-images.githubusercontent.com/3025661/32702354-bc0bf036-c7c4-11e7-99ae-ee1675180e07.png)

[2017-11-12 22:13] eldjango commented on #5940
Unfortunately, it's not the same, as it seems to be a really lightweight library compared to that of Pinterest.

[2017-11-13 04:57] Prasadu112 opened #5951 "How to invoke a region"
""driver.js""

var MenuView=Backbone.View.extend({

  render:function(){
      this.$el.html("this is menu part");
        return this;
  }
});
var ContentView=Backbone.View.extend({

    render:function(){
        this.$el.html("This is content view");
        return this;
    }
});
var AppLaoutView=Marionette.LayoutView.extend({
    template:$("#inputtemplate"),
    render:function(){
        th

[2017-11-13 05:20] Banandrew commented on #5951
Hi @Prasadu112, although it’s a valid usage question, we’ve limited GitHub Issues to bug reports and feature requests, keeping the board more manageable for maintainers. I think it will be best to ask around Backbone communities.

[2017-11-13 05:20] #5951 closed

[2017-11-13 05:24] Banandrew commented on #5949
Hi @etshy, I couldn’t reproduce it in an isolated test case. Could you please fork [this JSFiddle](https://jsfiddle.net/ca0rovs3/) to see if you can reproduce it there?

[2017-11-13 05:33] Banandrew commented on #5948
Hi @jackttcoms, please see #5741.

[2017-11-13 05:33] #5948 closed

[2017-11-13 07:30] kmehmety commented on #4174
Just enter my-custom-semantic folder,  run "gulp build"

[2017-11-13 12:05] etshy commented on #5949
I just add some items in the menu and start reducing the window size.
The width of all the button/links/dropdown menu is arounf 925px and the stackable put the different item on diffrent line at 768px and lower.
So there is some sizes where the menu go out of the window.
I'll post a jsFiddle when I'll have the time to do it.

[2017-11-13 18:12] DaryaTarasowa commented on #2820
+1

[2017-11-14 09:20] Lathanao opened #5952 "Wrong backgroud-color for .ui.horizontal.segments"
Hi,
The css of "ui horizontal segments" (line 16106) get 2 background-color
Look the render example: https://jsfiddle.net/xau9wzo5/
The 'background-color: #FFFFFF;' doesn't seem to be necessary.

.ui.horizontal.segments {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    fle

[2017-11-14 09:58] kob-e opened #5953 "Feature: change accordion behavior on active state"
Instead of `dispaly: none` and `dispaly: block`
use
[code]
and
[code]

and then we can add transition effect:
`  transition: visibility 0s, opacity 0.5s linear;`

[2017-11-14 10:03] Banandrew commented on #5953
Hi @kob-e, why, what’s your use case?

[2017-11-14 11:21] Banandrew commented on #5922
Closing the issue until there’s a reply.

[2017-11-14 11:21] #5922 closed

[2017-11-14 11:26] Banandrew commented on #5924
Closing the issue until there’s a test case.

[2017-11-14 11:26] #5924 closed

[2017-11-14 18:08] rbtsolis commented on #5940
oh, you are rigth, it isn't the same repo

[2017-11-15 09:01] dehypnosis commented on #4014
in `definitions/elements/loader.less` coupling section, change `.ui.dimmer ...` to `.ui.dimmer:not(.modals) ...` make it worked for me.

[code]

[2017-11-15 12:41] hurreedotco opened #5954 "Unable to install Semantic-UI as part of npm install (Ignoring local @import of "../n/semantic.rtl.min.css" as resource is missing.)"
Have been trying to install semantic-ui as part of a larger node install, and we are constantly seeing this fail on both local machines and our build server.

**Local Machine:**
node --version = v8.9.0
npm --version = 5.5.1
OS : Mac OS 10.13.1

**Build Server:**
node --version = v6.12.0
npm --version = 3.10.10
OS: Mac OS

We have found that running node install a second time on the local machines

[2017-11-15 12:46] Banandrew commented on #5954
Hi @hurreedotco, could you please post your `semantic.json`?

[2017-11-15 12:56] hurreedotco commented on #5954
UPDATED: Added semantic.json to original question

[2017-11-15 14:16] flornet commented on #5391
Hi, I've been having the exact same issue with 2.2.13.
To solve it, I've had to update Node.js & NPM.
It might be obvious... but it wasn't for me :)

[2017-11-15 23:31] dasa123 opened #5955 "Sticky footer and sidebar"
Hi *,
I have setup a sidebar as well as a sticky footer. It's working well except for IE11.

The sidebar requires this structure (source: [Semantic UI Docs](https://semantic-ui.com/modules/sidebar.html#page-structure)):
[code]

The recommended approach for the sticky footer requires this structure (source: [Sticky Footer with Flexbox](https://philipwalton.github.io/solved-by-flexbox/demos/sticky-f

[2017-11-16 05:43] jacky-ttt commented on #5940
[https://github.com/intfrr/Semantic-UI-Kit](https://github.com/intfrr/Semantic-UI-Kit)
This repo should have the same content. Don't know if intfrr and garystover are the same person.

[2017-11-16 09:10] w96k opened #5956 "[Documentation] Readme.md has broken link to projecttalk"
http://www.projecttalk.io/boards/Semantic-Org/Semantic-UI

[2017-11-16 09:23] dasa123 commented on #5955
I think I got it working. According to this [post on stackoverflow](https://stackoverflow.com/questions/44700068/flexbox-min-height-and-ie11) another "display: flex" is need.

I changed the code accordingly:

[code]

And the CSS:

[code]

[2017-11-16 10:27] tomsmalley commented on #4124
Also seeing this issue. This is fixed by adding

[code]

to the first line of the semantic css file. Is there a reason why this can't be added?

[2017-11-16 10:28] qingdi commented on #5504
this is a big problem

[2017-11-16 10:43] mail2tarkeshwar commented on #4124
We may try replacing the content from • to â€¢ for the class .ui.message .list:not(.ui) li:before in semantic.css file, to fix this issue.

[2017-11-16 10:47] mail2tarkeshwar commented on #4873
We may try replacing the content from • to â€¢ for the class .ui.message .list:not(.ui) li:before in semantic.css file, to fix this issue.

[2017-11-16 11:04] tomsmalley commented on #4124
@mail2tarkeshwar this results in chrome setting the content to `Ã¢â‚¬Â¢`.

[2017-11-16 11:32] mail2tarkeshwar commented on #4124
@tomsmalley Please use without changing any default settings of Chrome, it works, here is the screenshot attached...

[2017-11-16 13:00] eldjango commented on #5940
great!!! thanks @jacky-ttt

[2017-11-16 13:00] #5940 closed

[2017-11-16 17:26] edhenderson opened #5957 "Location of LESS and JS (core) files?"
First time user, great library.

Does the location of the LESS and JS (core files) have to be in the source of my project, can they reside in node_modules (as a dependency) so I don't have to commit them to my project?

Of course the overrides etc can be in source/

Sorry for the noob question, thanks so much!

[2017-11-16 21:53] etshy commented on #5949
Here is the jsFiddle https://jsfiddle.net/ca0rovs3/102/
Sorry for the wait, I was busy.

So, with the fiddle, if you resize horizontally, you'll see that the buttons at right will go out of the screen.
here is a screen from the fiddle :
https://puu.sh/ynvDQ/1eb232a6cb.png

[2017-11-17 05:58] gyuchang commented on #5713
This is a regression, introduced in 86ea20d5a09463cda6f2e98dacb824c23ee0b592

See [this comment](https://github.com/Semantic-Org/Semantic-UI/commit/86ea20d5a09463cda6f2e98dacb824c23ee0b592#commitcomment-25176800)

[2017-11-17 08:34] Banandrew commented on #5949
@etshy Thank you. I think it works as expected; `.stackable` adds a breakpoint and some styles changes at `767px`, and your menu is simply too big. Here’s the media-query and the variable’s inheritance:

https://github.com/Semantic-Org/Semantic-UI/blob/796d2f66e26ae5bb76c604fe6a36914ad3d2fe2a/src/definitions/collections/menu.less#L1214-L1215

https://github.com/Semantic-Org/Semantic-UI/blob/796d2f

[2017-11-17 08:34] #5949 closed

[2017-11-17 08:40] Banandrew commented on #5955
Hi @dasa123,

Thank you for posting, but although it’s a valid usage question, we’ve limited GitHub Issues to bug reports and feature requests, keeping the board more manageable for maintainers, and I’ll be closing this thread now that it’s resolved.

[2017-11-17 08:40] #5955 closed

[2017-11-17 08:41] etshy commented on #5949
Thanks for the explanation. I'll do that then.

[2017-11-17 08:53] Banandrew commented on #5957
Hi @edhenderson, [this SO question](https://stackoverflow.com/questions/32538811/semantic-ui-in-gitignore) might help.

[2017-11-17 14:56] edhenderson commented on #5957
Thanks for the link. I'll take a proper look today. A cursory glance makes it look like this is more of a hack than official recommendation. Is the *Semantic-UI* way to commit the `src` files to repo?

[2017-11-17 16:38] Banandrew commented on #5957
@edhenderson Yes.

[2017-11-17 17:35] edhenderson commented on #5957
@Banandrew Thank you for your help Sir.

[2017-11-17 21:32] #5957 closed

[2017-11-17 21:37] edhenderson opened #5958 "[Docs] Elaborate the importance of the default theme"
I cannot get the CSS to build. Does anyone have any ideas? Javascript is good.

[code]

Output looks like this:

[code]

<img width="610" alt="screen shot 2017-11-17 at 13 36 37" src="https://user-images.githubusercontent.com/1378582/32970096-6403ca4a-cb9c-11e7-8069-0ce4e924962b.png">

[code]

[2017-11-17 21:56] edhenderson commented on #5958
I tried putting the `output` locations to the defaults, made no difference.

[2017-11-17 22:29] ocervell opened #5959 "[Tab][Label] Add the ability to use labels in tab menus"
I want to put an inline label for one of my tabs, but not the others.
This breaks the vertical alignment between tabs, like shown below:

![screen shot 2017-11-17 at 4 25 20 pm](https://user-images.githubusercontent.com/9629314/32971735-4b3dd60a-cbb4-11e7-9676-8c108c879f63.png)

### Quick fix
Adding a circular label with class `hidden` to all of my tabs and hiding them using `opacity` css setting.

[2017-11-17 23:18] edhenderson commented on #5958
So I had inadvertently deleted the *default* theme, thinking I didn't need it. Seems like I do?

[2017-11-18 00:12] jackttcoms opened #5960 "On the new firefox icons not aligned correctly"
Im using the new Firefox Quantum which can i just say is amazing but with the button when you hover the icon is not directly central as you can see in the images below...

![iconalign](https://user-images.githubusercontent.com/26184209/32974337-1a008ee8-cbf5-11e7-97f4-2042e946f840.PNG)
![iconalign2](https://user-images.githubusercontent.com/26184209/32974338-1a212fc2-cbf5-11e7-965b-41bc0796d5d6.PN

[2017-11-18 13:17] lubber-de commented on #2449
http://rasterbuster.lubber.de uses Semantic UI

i hope the plain library will be updated soon (lots of pull requests) and you are not only relying on the react version.

[2017-11-18 14:44] Banandrew commented on #5960
Hi @jackttcoms, I couldn’t reproduce it on Windows. What OS did you use?

[2017-11-18 14:55] Banandrew commented on #5958
@edhenderson The `default` theme is what SUI uses by default in `theme.config`, so if you don’t use another theme, it’s essential, it’s what you extend. If you want to clear out the `themes` folder, feel free to remove everything but the `default` theme.

[2017-11-18 15:36] Banandrew commented on #5959
Hi @ocervell, you could set the height for all `.ui.secondary.pointing.menu .item` elements to fix that. What label variation do you use, is it `.tiny`? Inpecting the `.item` with the label will tell us that its height is `46px` (or whatever it is in your case). The menu component doesn’t set the height, so there’s no variable in the source that we can use, so you’ll have to override it the regula

[2017-11-18 16:08] jackttcoms commented on #5960
sorry it appears to be a bit of custom CSS somewhere so i have just overridden it with line-height: 16px; thanks

[2017-11-18 16:31] Banandrew commented on #5960
Closing as resolved.

[2017-11-18 16:31] #5960 closed

[2017-11-18 20:49] aldebaran798 commented on #5380
Any suggestion for this?

[2017-11-19 02:22] erlangp opened #5961 "[Dropdown] Bug radius first item of dropdown & item right padding"
[Dropdown] Bug radius first item of dropdown & item right padding

Screenshot:
https://imgur.com/cxNa3bV

[2017-11-19 03:59] nebrelbug commented on #5712
This same thing happens to me! I'm not sure why it's happening! Could someone please help??? Thanks!

[2017-11-19 04:00] nebrelbug commented on #5712
@johndiego Could you describe how you solved the problem?

[2017-11-19 04:02] nebrelbug commented on #5712
It works fine on CodePen, but when I run it from my Windows computer it doesn't work. Everything else works but this; I have the exact same code on CodePen and it works perfectly.

[2017-11-19 04:22] nebrelbug opened #5962 "Dropdown doesn't work on local machine"
See Issue #5712--I wasn't sure if I should create a new issue since this was already an issue, but I did.

Same thing exactly; my dropdown works fine on CodePen, just doesn't work when I run the exact same code on my Windows computer or `firebase deploy`. Could someone help? Thanks!

[2017-11-19 05:30] edhenderson commented on #5958
@Banandrew Thank you for confirming what I learned the hard way. It might be good if we made this a bit clearer, put this in a more *secure* place?

[2017-11-19 09:30] Banandrew commented on #5961
I couldn’t reproduce it in an isolated test case, it seems to be a website issue.

[2017-11-19 12:49] Banandrew commented on #5958
@edhenderson Was that the reason for CSS not building? I’ll mark it as a documentation issue, we’ll explain what the `deafult` theme does better.

[2017-11-19 12:53] Banandrew commented on #5962
Hi @nebrelbug, are you absolutely sure you didn’t forget to include jQuery?

[2017-11-19 14:12] ocervell commented on #5959
This fix is working, yes, but shouldn't that be fixed within the framework itself ?

[2017-11-19 15:49] joneidejohnsen commented on #5225
Any updates on this bug?

[2017-11-19 16:53] Banandrew commented on #5959
@ocervell I’ll label it as enhancement.

[2017-11-19 20:34] romaninsh commented on #2072
check in to gitter.im / semantic-ui there are some other people who are willing to help.

[2017-11-19 20:55] jackttcoms opened #5963 "Icon Text button does not look 100% central"
https://semantic-ui.com/ The menu button does not look 100% central

it might just be me but if you put a ruler on the screen there is a small difference

![btn](https://user-images.githubusercontent.com/26184209/32995405-78650d7a-cd6b-11e7-9489-870ac42bdb5d.PNG)

[2017-11-19 21:39] Banandrew commented on #5963
Hi @jackttcoms, could you please elaborate, where did you take the first screenshot, and how is the second one supposed to look?

[2017-11-19 23:08] jackttcoms commented on #5963
IT just looks like it should be a bit further down to be completely central and I took the screenshot on the semantic UI homepage and looked on Edge,Firefox and chrome and they all looked slightly off center

[2017-11-20 01:23] nebrelbug commented on #5962
Yes, I'm absolutely sure. The sidebar works fine. My console doesn't throw any errors; I was wondering whether it might be because I'm including Firebase...

[2017-11-20 01:24] nebrelbug commented on #5962
I'll add more details tomorrow

[2017-11-20 01:31] nebrelbug commented on #5962
I don't need to use jQuery UI, right?

[2017-11-20 02:18] edhenderson commented on #5958
@Banandrew Indeed it was. When I restored the `default` folder, it worked again. Would be great if the documentation made this clearer and/or a README inside that theme OR maybe a more *classic* name, e.g. `_default` OR moving it into the same directory as `definitions` or similar?

[2017-11-20 03:32] arichiardi commented on #4174
Hello folks! Thanks for this fix,  is there a way to propagate to `semantic-ui-less` for non-gulp users?

Sorry I am also not very proficient with less so I really need a helping ✋

[2017-11-20 09:40] MarcelWouters commented on #1917
Here a working example of category search in local objects

[https://embed.plnkr.co/UpsopAn0iWCN4cvdLAvL/](url)

[2017-11-20 11:09] w96k commented on #1
This issue was moved to w96k/Semantic-UI-Plus#3

[2017-11-20 11:58] Banandrew commented on #5962
@nebrelbug No, jQuery UI is not needed.

[2017-11-20 14:42] kevinresol opened #5964 "[menu item] Icon group is not correctly positioned"
[code]
![image](https://user-images.githubusercontent.com/1103788/33023698-f9797878-ce43-11e7-8b98-38a3f9a6ab11.png)

https://jsfiddle.net/757gxn2v/

[2017-11-20 14:46] kevinresol commented on #5964
oh, also note that the corner icon is not inverted

[2017-11-20 22:16] zerolfc opened #5966 "[Checkbox Slider] No "Checked" Class"
When checkbox slider checked - there is no "checked" class appended, unless you uncheck and check it again then it appends "checked" class.

![checkbox](https://user-images.githubusercontent.com/5167436/33044315-643369a2-ce40-11e7-967d-21d3e1ae244d.png)

[2017-11-20 22:38] Banandrew commented on #5966
Hi @zerolfc, thank you, but we’re already tracking it here: #2506.

[2017-11-20 22:38] #5966 closed

[2017-11-21 01:16] nebrelbug commented on #5962
Never mind, it seems that it's a problem with my code; it looks like Firebase OnAuthChanged is preventing $(document).ready() from calling? Anyway, sorry for the false alarm. Thanks for all you do! I love Semantic-UI!

[2017-11-21 01:16] #5962 closed

[2017-11-21 02:23] nebrelbug commented on #5962
Never mind; it appears that it's a problem with my code, not with SemanticUI. I guess Firebase OnAuthChanged is preventing $(document).ready() from calling? Anyway, sorry for the false alarm. Thanks for all that you do! I love Semantic-UI!

[2017-11-21 02:24] nebrelbug commented on #5962
Oops, recommented :)

[2017-11-21 07:00] linjingming commented on #5733
I am also having the same issue.

[2017-11-21 07:49] ashucg commented on #5733
@linjingming I have removed the perspective rule to fix this issue, I would recommend you to do the same.

[2017-11-21 09:59] arthurlacoste commented on #2473
A simple example with a DOM change (like adding html to a id) :

[code]
This need to be more documented, isn't ?

[2017-11-21 11:20] zerolfc commented on #2506
This is still happening. thought was fixed in 2.0.1

[2017-11-21 12:15] itsashis4u commented on #5322
Any update on this?

[2017-11-21 12:29] #5963 closed

[2017-11-21 17:52] douglasg14b commented on #3323
Wish one of these issues would just get a good comprehensive answer. It's getting really hard to figure out how that sidebar was done.

[2017-11-22 12:27] dickmao commented on #5391
Yes, can confirm that default version of nodejs 4.2.6 for ubuntu 16.04 won't work.  Needed to upgrade to 6.x.x.  Thanks.

[2017-11-22 14:40] pareeohnos commented on #5861
Just to add to this, it's particularly noticeable when the icons are not that big

http://jsfiddle.net/zt98uk7p/

[2017-11-22 15:02] kevinresol opened #5967 "[Form validation] Wrong radio behavior"
As mentioned in this [comment](https://github.com/Semantic-Org/Semantic-UI/commit/86ea20d5a09463cda6f2e98dacb824c23ee0b592#commitcomment-25176800).

The code reads:

- if the result value is not set, set it to  `(isChecked) ? true : false`

Two problems here

1. since the code will set the value if it is not set, so everything is only relevant in the first iteration
2. the ternary operation is mea

[2017-11-22 15:10] kevinresol commented on #5967
Sorry, duplicate of https://github.com/Semantic-Org/Semantic-UI/issues/5713

[2017-11-22 15:10] #5967 closed

[2017-11-22 15:11] kevinresol commented on #5713
This is pretty critical I would say.

[2017-11-23 01:38] lisanj7 opened #5968 "responsive design in semantic, mobile only and computer only columns"
I want a 4-col so I can place a sidebar in computer-only, and a 12-col for all sizes, for the content:

`<div class="four wide **computer only** column">
`and
`<div class="twelve wide column">`

This works fine in computer, but in mobile I need a full wide column, not a 12-wide. Is it possible to achieve something like this?

[2017-11-23 01:56] lisanj7 commented on #5968
found my answer in SUI docs,
Grid > manual tweaks
e.g. This is amazing:

`<div class="twelve wide computer four wide mobile column"></div>`

[2017-11-23 01:56] #5968 closed

[2017-11-23 08:25] chrisandchris commented on #2072
@romaninsh But in the end it depends on the founder (@jlukic) to respond, so that he can grant someone access to maintain the repository/project/website.

[2017-11-23 08:42] kevinresol opened #5969 "[Grid] Attached header should not expand in stretched row"
https://jsfiddle.net/bk4ugcd5/2/

Actual:

![image](https://user-images.githubusercontent.com/1103788/33164294-0f6d774e-d06d-11e7-974a-4067da80dfe0.png)

Expected:

![image](https://user-images.githubusercontent.com/1103788/33164282-065ba464-d06d-11e7-9652-c3abf7420ff9.png)

[code]

[2017-11-23 08:50] hems commented on #3234
@ohartl on the current version swapping <div> by <a> is breaking the dropdown :(

[2017-11-23 11:42] slashwhatever opened #5970 "[Sticky] Anyone have zIndex issues with Sticky?"
Example: https://github.com/Semantic-Org/Semantic-UI

Screenshot shows a full width navigation bar that's a Sticky component set to offset=0

Content below is a grid with a series of rows and columns that for some reason scrolls over the top of the sticky component. Seems the only place I can add a zIndex to fix this is inline in the element the sticky component creates.

[2017-11-23 13:13] mamaevaksu commented on #5906
+

[2017-11-23 13:13] mamaevaksu commented on #5928
+

[2017-11-23 14:10] fperezgaliana opened #5971 "Sidebar conflicts with jQuery context-menu plugin"
I have a page that uses Semantic UI and jQuery context-menu plugin (https://github.com/mar10/jquery-ui-contextmenu). As soon as I run the sidebar function, the context menu stops working until I reload the page. The jQuery context menus is loaded as this:

[code]

I've tried to inspect the DOM for changes on this div but I didn't find any difference before and after calling the sidebar function. I

[2017-11-23 16:47] kevinresol commented on #5964
related: https://github.com/Semantic-Org/Semantic-UI/issues/3785
feels like `class="icons"` is not well handled in a few places

[2017-11-23 20:40] em opened #5972 "[Header] is mis-named; actually a Heading"
There's a very explicit distinction in web standards and practice between a `header`, and a `heading`. You guys seem to have called Heading a Header.

This is a pretty weird issue for me since I'm building a site using a custom semantic theme, and I have to explicitly not import the Semantic Header, and make a custom element called Header that's an actual header.

W3C terminology for reference:

h

[2017-11-23 20:54] Banandrew commented on #5971
Hi @fperezgaliana,

Thank you for posting, but although it’s a valid usage question, we’ve limited GitHub Issues to bug reports and feature requests, keeping the board more manageable for maintainers; see the [contributing guidelines](https://github.com/Semantic-Org/Semantic-UI/blob/master/CONTRIBUTING.md) for more information on what kind of posts should find themselves into the GitHub Issues boa

[2017-11-23 20:54] #5971 closed

[2017-11-23 20:56] Banandrew commented on #5970
Hi @slashwhatever, your test case is a wrong link, I’m assuming you wanted to show something?

[2017-11-24 06:08] xrajishx opened #5973 "[Comment] Support comments without avatars"
Please find the fiddle [here](https://jsfiddle.net/v89r4y2b/)

The fiddle above is created with the examples in the docs. I have only removed the avatars.

[2017-11-24 06:59] Banandrew commented on #5973
Hi @xrajishx, this is an unsupported use case, I labeled it as enhancement for possible future implementation.

[2017-11-24 12:19] Berger92 commented on #419
Here's my solution based on vuejs, enjoy!
[JsFiddle](https://jsfiddle.net/Berger92/vz5ummn2/)

[2017-11-24 20:31] jbeaulieu-st commented on #1340
I got the same problem:
I got one dropdown in a cell that doesn't have overflow, that is working fine :
![dropdown problem 1](https://user-images.githubusercontent.com/33967466/33223299-16fb73ca-d12c-11e7-9ae0-e9a2117d696b.png)
And another one in a cell that has overflow-x: hidden (I need this to match the design) that is not working 👍
![dropdown problem 2](https://user-images.githubusercontent.co

[2017-11-24 20:47] 3amprogrammer opened #5975 "[Tab] Can I use data-action and data-param with tabs?"
Currently I have something like this:

[code]

where each tab has the final part (data-tab) of the url, that in the end is something like: `/partners/cleaners/123/calendar`.

I would like to be able to do this:
[code]
I think this is more flexible and readable. Of course `get calendar` would be defined according to Api Module docs. Can I do this? I have already went through the docs/issues but I d

[2017-11-24 21:35] riovir commented on #5867
I've looked into if it's feasible to convert Semantic UI elements with Stencil. There were some tricky parts to tackle, but it seams doable.

**DOM structure**

Semantic UI components expect a specific DOM structure. Let's pick a ```dropdown```. This renders fine:
[code]

With Stencil one could create an element like this:
[code]

However without extra effort the resulting DOM structure would look

[2017-11-24 21:39] haelexuis opened #5976 "Stackable Doubling grid and mobile"
Hi, so I want to have columns like this:
when mobile is vertically, there will be only 1 column in grid row
when mobile is horizontally, there will be 2 columns in grid row
by this definition: https://semantic-ui.com/examples/responsive.html it should works in class "ui four column doubling stackable grid container" but it doesn't, even on this site with mobile device, there will be always 1 colum

[2017-11-25 15:31] jmorales2718 opened #5977 "[Search] Unprofessional Hover Effect when Action is Added"
Hi,

This is a super simple to fix problem...

Found a strange css effect that makes searches with an action look bad.

![image](https://user-images.githubusercontent.com/15984429/33231637-bdb43cfc-d1c6-11e7-878b-d340349aa9e8.png)

This only occurs on hover and can be found on line 221 of semantic-ui-css/components/search.css:

![image](https://user-images.githubusercontent.com/15984429/33231651-1

[2017-11-26 13:08] quanganhtran commented on #2118
Hello, but even when no label is present, the shorter height of checkbox component compared to the input (with input box, when not `transparent`) would make them appear not to be vertically aligned (by the base of the letters)

[2017-11-26 14:36] kevinresol commented on #5969
The jsfiddle is updated to actually reflect the bug (by commenting out the css fix)

[2017-11-26 16:39] em opened #5978 "[Divider] in grids broken"
https://react.semantic-ui.com/elements/divider#divider-example-vertical shows the issue. Everything is absolute positioned off to the farmost left.

[2017-11-26 16:43] em commented on #5978
BTW: It seems the only way to really get flex-grow 0 and 1 is by using a Divider (well, if it worked). Would be nice if grid columns and rows just had `grow` and `shrink` options. Or `expanding` `contracting`

[2017-11-26 21:42] Banandrew commented on #5978
Hi @em, thank you, we’re already tracking it here: #4342.

[2017-11-26 21:42] #5978 closed

[2017-11-26 21:51] Banandrew commented on #5976
Hi @haelexuis,

Thank you for posting, but although it’s a valid usage question, we’ve limited GitHub Issues to bug reports and feature requests, keeping the board more manageable for maintainers; see the [contributing guidelines](https://github.com/Semantic-Org/Semantic-UI/blob/master/CONTRIBUTING.md) for more information on what kind of posts should find themselves into the GitHub Issues board.

[2017-11-26 21:51] #5976 closed

[2017-11-26 21:55] Banandrew commented on #5953
Closing the issue until there’s a reply.

[2017-11-26 21:55] #5953 closed

[2017-11-26 22:50] kappaknight opened #5979 "Support for additional Font Awesome fonts?"
I would really like it if Semantic could support the following User Circle font:

http://fontawesome.io/icon/user-circle-o/

The use of circular Profile pics is throughout the entire theme, and this would be a great "default" icon for those that haven't uploaded anything to be their profile pic.

Also, Font Awesome 5.0 is coming out soon. It may be worth checking out what new icons will be availab

[2017-11-26 23:03] Banandrew commented on #5979
Hi @kappaknight, it’s supported and documented [here](https://semantic-ui.com/elements/icon.html#user-types):

https://github.com/Semantic-Org/Semantic-UI/blob/796d2f66e26ae5bb76c604fe6a36914ad3d2fe2a/src/themes/default/elements/icon.overrides#L203

[2017-11-26 23:03] #5979 closed

[2017-11-27 01:12] breytex opened #5980 "[Install] Error on ´gulp install´ / ´run setup´"
Hey!
Just wanted to create my first custom theme for semantic ui.
Freshly checked out the repository and executed npm install.

![screen shot 2017-11-27 at 02 12 21](https://user-images.githubusercontent.com/4541640/33246736-971ed91e-d318-11e7-97dd-0f91e63974c7.png)

Mac OS X 10.12.
Node v8.7.0
npm 5.4.2

Any suggestions?

[2017-11-27 06:11] dev-fullstacktechnology opened #5981 "[Card] - Card size Issue"
**Steps to Reproduce**
1. Define a simple card.
2. The size of cards intent for more than 300px.

**Expected**
The card sould be take size of parent,

**Result**
Card is only taking size of max 290px width.

The issue is having due to CSS defined in core file
.ui.card {
   width: 290px
}

[2017-11-27 06:24] Banandrew commented on #5981
Hi, could you please provide a test case as per our [contributing guidelines](https://github.com/Semantic-Org/Semantic-UI/blob/master/CONTRIBUTING.md)? You can fork [this JSFiddle](https://jsfiddle.net/ca0rovs3/).

[2017-11-27 11:43] zocky commented on #2820
This is obviously a needed feature. Text and/or images are not the only things that go into grids. There are plenty of cases when one needs a grid for aligning elements that regulate their own padding.

[2017-11-27 20:57] bluszcz commented on #2449
https://veggiesailor.com is using Semantic UI :)

[2017-11-28 04:01] jlukic commented on #5981
Try a [`fluid card`](https://semantic-ui.com/views/card.html#fluid-card)

[2017-11-28 04:01] #5981 closed

[2017-11-28 04:08] #5931 closed

[2017-11-28 11:56] drnasin opened #5982 "Usage question: tabs + ajax"
Hi guys, just a quick question regarding tabs as we are not sure it is expected behaviour or a bug. When using ajax content on tabs the only way to get the initial tab to show ajax content (and events to fire) is to explicitly call tab('change tab') after tab initialization? Is this right? Just want to be sure we are not doing it wrong :)

[2017-11-28 20:49] jayphelps opened #5983 "Still maintained?"
Mostly a question for @jlukic I think. I noticed that the last commits/PRs merged were in early August, so wanting to check if semantic-ui is still maintained. You certainly owe me nothing, just would be helpful to know so I can plan and decide on new apps I'm building.

I've got a couple outstanding PRs as well, but neither is critical so my question is not tied to them #5749 #5832

[2017-11-29 12:04] kevinresol commented on #5983
Yes: https://github.com/Semantic-Org/Semantic-UI/commits/next

[2017-11-29 12:23] mariolamacchia commented on #1048
👋 What's the state of this issue? Do you need help with a PR?

[2017-11-29 15:05] jayphelps commented on #5983
Woot! Thanks got clarifying!

[2017-11-29 15:05] #5983 closed

[2017-11-29 15:27] kevinresol commented on #2201
@jlukic yeah please consider setting up Patreon, it is just a few steps, much easier than kickstarter.

[2017-11-29 19:49] alvipeo opened #5984 "Feature request - to change Modal so it's easier to use with Angular"
I prefer Semantic UI over other interfaces and I use it in Angular 5 applications. But it's a pain to make modal work (using Semantic as it is). So I wonder if I could ask to change modal so it doesn't work with DOM in a more simpler matter... Well, if you had plans to improve Semantic anyway...

[2017-11-29 23:23] mayordwells opened #5985 "No default jsDelivr CDN file set"
[This package](https://www.jsdelivr.com/package/npm/semantic-ui) doesn't have a [default file](https://www.jsdelivr.com/features#publishing-packages) set. You can set it via `jsdelivr`, `browser`, or `main` field in `package.json`

[2017-11-30 06:12] Banandrew commented on #5985
Hi @mayordwells, thank you, we’re aware—it’s coming with the next patch: #5667.

[2017-11-30 06:12] #5985 closed

[2017-11-30 07:34] royhg opened #5986 "Getting values fields from created dynamically from $('form').form('get values') was missed?"
Hi Semantic UI Users,
Is there any of you have situation like me before?

When the form has been ready..
I inserted row of fields..
$(this).closest(".parent").after(html);

Then before submit I check the all form fields values with $("form").form("get values");
But I just get all fields value before inserted dynamically..

How can I get correctly or is there any another way to get all fields value

[2017-11-30 08:48] royhg opened #5987 "Multiple values dropdown default was missed when input hidden value has been set"
Is it true when the multiple dropdown or single one has been ready even the hidden input value of dropdown has been set, the dropdown value still missed the value?
If we submit the form the dropdown value still empty.
Should we have the auto value or should to manually setup set value when document ready?

regards,

[2017-11-30 12:21] kappaknight commented on #5557
I'm surprised this is the first report of it. I'm seeing the same issue here. While adding the style to the link helps, all padding related behaviors are lost.

[2017-11-30 15:40] Mewcatwo opened #5988 "[DOCS] Behaviors form - Bad indication in the behaviors form page"
Hello,
As indicated in the title, there is an error at the beginning of the form page ... Instead of 'Javascript' it is marked 'HTML'.
I tried to correct it by making a pull request but I can not see where the error is in the html ...
I leave you a screen if it can help.

Page's url: https://semantic-ui.com/behaviors/form.html
Image's url: https://www.noelshack.com/2017-48-4-1512056336-sans-titre.

[2017-12-01 03:09] nazarhussain commented on #5178
👍

[2017-12-01 04:09] kevinresol commented on #5518
Font awesome 5 now comes with svg support. How can I integrate it into semantic?

[2017-12-02 06:01] kevinresol opened #5989 "[Grid] "stretched row" inside "doubling grid" not stretched on tablets"
https://jsfiddle.net/tks2y6gb/1/ (try dragging the viewport width to reveal the problem)

![image](https://user-images.githubusercontent.com/1103788/33512292-61945e32-d768-11e7-972d-0d8320708090.png)

On phone and computer it is fine.

I found this particular rule (highlighted below) is causing the problem, disabling it fixes it:
![image](https://user-images.githubusercontent.com/1103788/33512324-

[2017-12-02 08:00] Handiwork commented on #5980
I encountered the same problem today...

![tim 20171202155829](https://user-images.githubusercontent.com/8043546/33513242-bbb1d906-d779-11e7-87dd-48a46358d496.png)

[2017-12-03 17:41] MichalBryxi commented on #5200
@Banandrew the [example](http://jsfiddle.net/Banandrew/9uL6g1hp/) is now 404. Can you re-upload or point to a working one please?

[2017-12-03 17:59] Banandrew commented on #5200
Hi @MichalBryxi, sorry about that, I have two: [this one](http://jsfiddle.net/Banandrew/4x5h4r59/) is most certainly the same thing I posted in this thread initially, and [this one](http://jsfiddle.net/Banandrew/2mwoymco/) is someone’s modified example that shows a navigation at the top. Please keep in mind that it’s just a quick starting point that’s meant to be modified.

[2017-12-03 23:14] corydeppen opened #5990 "Readonly plain text form field"
I've looked through the docs but haven't seen an equivalent to Bootstrap's [readonly plain text styling](http://getbootstrap.com/docs/4.0/components/forms/#readonly-plain-text) for form fields. This would be beneficial for those times when you'd rather not render a form input but prefer to only show the field label and value.

[2017-12-04 02:08] dinhani commented on #5990
I have the same issue. In forms where inputs and plain text are mixed, plain text fields seems out of place.

[2017-12-04 09:25] kevinresol opened #5991 "[List] icon inside label inside a.item is wrongly colored"
[code]

https://jsfiddle.net/nL9hb6u7/

Actual:
<img width="93" alt="screen shot 2017-12-04 at 5 23 19 pm" src="https://user-images.githubusercontent.com/1103788/33545117-181dee92-d918-11e7-97fc-785d493a5a9e.png">

Expected:
<img width="92" alt="screen shot 2017-12-04 at 5 23 45 pm" src="https://user-images.githubusercontent.com/1103788/33545048-eaca361c-d917-11e7-899a-d9818f399a57.png">

[2017-12-04 09:52] MiyamuraMiyako opened #5992 "prevent submit default and field verify's problem."
In default:
[code]
This button will verify user's input,such as:
![image](https://user-images.githubusercontent.com/10345361/33546259-88a1166e-d91b-11e7-8ec0-1eb2e21d5534.png)

![image](https://user-images.githubusercontent.com/10345361/33546190-5130d99e-d91b-11e7-9175-02319e018aa7.png)

If
[code]
And I use my self function to login. input verify will no effect. How to solve this problem in genera

[2017-12-04 10:13] Handiwork commented on #5980
It seems the npm to blame. Package  "prompt-sui" should be  installed correctly by npm@3.10.10.
Please try:`npm un -g npm`
![build succeed](https://user-images.githubusercontent.com/8043546/33547328-b63975dc-d91e-11e7-8ea1-abb030344e71.png)

[2017-12-04 10:26] Prasadu112 opened #5993 "How do u reset the values in semantic modal"
after performing the validation on a modal fields, how to reset the values and reset the color(reset)..

[2017-12-04 10:58] amaurymartiny commented on #4961
@asJulius Did you find an answer? If yes mind sharing [on SO](https://stackoverflow.com/questions/47631666/floating-label-on-icon) for future reference? Thanks.

[2017-12-04 11:01] Banandrew commented on #5993
Hi @Prasadu112,

Thank you for posting, but although it’s a valid usage question, we’ve limited GitHub Issues to bug reports and feature requests, keeping the board more manageable for maintainers; see the [contributing guidelines](https://github.com/Semantic-Org/Semantic-UI/blob/master/CONTRIBUTING.md) for more information on what kind of posts should find themselves into the GitHub Issues board.

[2017-12-04 11:01] #5993 closed

[2017-12-04 11:18] Prasadu112 opened #5994 "how to reset/refresh the modal"
how to reset/refresh the modal before/after closing the modal??

[2017-12-04 15:37] ulises-salinas commented on #5992
@MiyamuraMiyako you should use:

$('form').submit(function (evt) {
        evt.preventDefault()
});

Without .form()

[2017-12-04 16:28] willstott101 opened #5995 "[Popup] Modal must be visible when child popups are initialized."
I have worked around this by adding all available callbacks to modal, and triggering events on the modal node. I can then check when creating a pop-up if it's within a modal and schedule the creation accordingly.

https://jsfiddle.net/t2cy0776/2/

I'm trying to have widgets that can be re-used throughout my site. They should be usable with a single template inclusion, and be found and setup by gen

[2017-12-04 20:09] corelaio commented on #1070
Partially off topic here but in case someone lands on this page by searching for a solution to the problem of strange special characters appearing instead of list bullet points:
- When combining html5 ul and li tags together with corresponding semantic-ui classes, make sure to force utf8 for your requests. This solved the problem for me.

[2017-12-04 21:47] VanKrock commented on #4310
Why this issue closed? It's frequent promlem

[2017-12-05 05:31] MiyamuraMiyako commented on #5992
@ulises-salinas Thank you for reply, problem solved.

[2017-12-05 05:31] #5992 closed

[2017-12-05 11:30] netstuff opened #5997 "Custom loader icon"
How can I define custom icon instead default spiner for Loader module?

[2017-12-05 16:15] vsiv commented on #4219
+1 on @aristidesfl request

[2017-12-05 17:31] ulises-salinas commented on #5994
@Prasadu112 do you need to 'restore' the content?  if so, then, show us how it is your modal .

[2017-12-05 18:53] kuzeko opened #5998 "[Form] - Label of toggle on Inverted form"
**Steps to Reproduce**
Put a toggle checkbox inside an inverted form

**Expected**
The label should not be black (since the background is black)

**Result**
The label is black because of

[code]

So, maybe, do not use important?

**Testcase**
http://jsfiddle.net/6xq1jc1z/1/

[2017-12-05 22:17] chrispaynter opened #5999 "icon with name list clashes with list element in message element"
If you use an icon name list in the message element, the CSS for the actual[ list element ](https://semantic-ui.com/elements/list.html)clashes and causes margin issues.

Here is a screen shot:

<img width="516" alt="screen shot 2017-12-05 at 10 14 40 pm" src="https://user-images.githubusercontent.com/1684083/33633732-bcb6211c-da09-11e7-944b-25f78b6cb491.png">

Here is the react code:

[code]
And h

[2017-12-06 01:37] jonaschn commented on #2882
I followed the way @jlukic suggested.
@Dreyer Do you know why it is not working without a segment around the container
(around the grid)?
You can find an example [here](https://plnkr.co/edit/22vQxxmV8jTAD2BlUV4n?p=preview).

[2017-12-06 06:12] prajwal88 commented on #2423
@jlukic @Banandrew any quick fix to it ( [Modal] Multiple modals are underneath each other. #5351)

[2017-12-06 06:38] jike212 opened #6000 "Popup "flowing" - Floated elements wrapping instead of expanding the popup"
I'm having some issues getting a [flowing popup](https://semantic-ui.com/modules/popup.html#flowing) to expand appropriately to fit its contents.

Example here: [https://codepen.io/anon/pen/MORLRd](https://codepen.io/anon/pen/MORLRd)

The label elements on the right side of the pop-up do not line up with the text that they correspond with. What would be the best way to ensure that everything remai

[2017-12-06 11:26] Mansourawy opened #6001 "wrong icon class name"
semantic css file : at line 10408 >
wrong icon class name:

i.icon.\35 00px:before {
    content: "\f26e";
}

[2017-12-06 12:00] Chez-pas-qui commented on #1917
@MarcelWouters, the link is disabled, do you have a code or another link ? :)

[2017-12-06 12:12] MiyamuraMiyako opened #6002 "Can not get form data in beforeSend function."
I try this [Structured Data Example](https://semantic-ui.com/behaviors/api.html#/usage), but can't get textbox's text use ```settings.data.username```. Then, I try
[code]
but after submit form, server received ```$('#username')```'s origin value,not ```'blabla'```. I can't understand why.

Below is a full js:
[code]

by the way, I always get this err in chrome console when I clicked submit button:

[2017-12-06 14:10] jike212 commented on #6000
The workaround I found for the time being was to add about 6em of margin-right to the headers in the columns (as shown in the codepen posted above.

Solved for now.

[2017-12-06 14:10] #6000 closed

[2017-12-06 15:11] Banandrew commented on #6001
Hi @Mansourawy, it’s correct, just escaped.

Pull request: #5512
Original issue: #5468

[2017-12-06 15:11] #6001 closed

[2017-12-06 15:44] MarcelWouters commented on #1917
@chez-pas-qui try this one http://embed.plnkr.co/UpsopAn0iWCN4cvdLAvL/

[2017-12-06 16:03] Chez-pas-qui commented on #1917
I'll try it, thank you very much for helping ! :)

[2017-12-06 16:16] guiguitcho opened #6004 "[Sidebar] Sidebar with fixed menu inside"
I try (with no success so far) to set a sidebar with a fixed menu inside.
Here is the [jsfiddle](http://jsfiddle.net/mLo0txe8/): when the sidebar content is scrolled, the menu is not fixed.
I don't know if I missed anything, but I took care of putting the sidebar outside the pusher. I also tried with the sticky class, with no more luck.

Any idea ?
Thanks in advance

[2017-12-06 17:44] kuzeko opened #6005 "[List] - Inconsistent use of `::before` and `:before`"
Various rules have either the CSS 2  and CSS 3 notation, for example

`.ui.bulleted.list .list>.item:before, .ui.bulleted.list>.item:before, ul.ui.list li:before`

`.ui.horizontal.bulleted.list>.item::before, ul.ui.horizontal.bulleted.list li::before`

https://developer.mozilla.org/it/docs/Web/CSS/::before

[2017-12-07 08:00] vinayakkulkarni commented on #5982
Dear @drnasin, Please visit our [gitter channel](https://gitter.im/Semantic-Org/Semantic-UI) or [discord server](https://discord.gg/7vqmGxa) to get answers for usage related questions.

[2017-12-07 08:00] #5982 closed

[2017-12-07 08:03] vinayakkulkarni commented on #5984
Dear @alvipeo,

Changing a core component just for a framework doesn't make sense. you might want to take on a semantic-ui-angular project; similar to [Semantic-UI-React](https://github.com/Semantic-Org/Semantic-UI-React)?

[2017-12-07 08:03] #5984 closed

[2017-12-07 08:04] vinayakkulkarni commented on #5997
@netstuff, for any usage related questions, kindly post them on our [gitter channel](https://discord.gg/7vqmGxa) or [discord server](https://discord.gg/7vqmGxa)

[2017-12-07 08:04] #5997 closed

[2017-12-07 08:07] vinayakkulkarni commented on #5994
Dear @Prasadu112,

Since this is a usage related questions, I suggest you ask it in our [Gitter channel](https://gitter.im/Semantic-Org/Semantic-UI) or [Discord Server](https://discord.gg/7vqmGxa).

Also, kindly fork this [jsFiddle](https://jsfiddle.net/ca0rovs3/) to present your test-case.

[2017-12-07 08:07] #5994 closed

[2017-12-07 08:08] vinayakkulkarni commented on #6002
Dear @MiyamuraMiyako,

Please fork this [jsFiddle ](https://jsfiddle.net/ca0rovs3/)to provide your test-case.

[2017-12-07 09:32] MiyamuraMiyako commented on #6002
@vinayakkulkarni This is my test case use [JSFiddle](https://jsfiddle.net/zgxltxz/zmvfsg8q/3/). When I click Login, alert will display ```undefined```. After post, this tip will show on chrome console: ```jquery-serialize-object is required to add form data to an existing data object```. but JSFiddle can not display what send from me.

[2017-12-07 10:32] vinayakkulkarni commented on #6002
Have you tried importing the `jquery-serialize-object` in your project?

Maybe this'll help: [StackOverflow](https://stackoverflow.com/a/38387837/5659768)

[2017-12-07 10:34] cashsun commented on #2689
Hi, I think there's a bug in 'set exactly' - the selected labels are not in the same order of passed array.

i.e. $dropdown.dropdown('set exactly', ['d', 'a','c', 'b']);
result: the multiselect shows 'a', 'b', 'c', 'd' as selected, in that order. Which is not exactly 'set exactly'....

[2017-12-07 10:35] RobinDeKeyzer opened #6006 "Multiselect mass-select options"
I've been searching for this option but haven't found it so I think this is a new feature request:
It would be great to have the possibility of selecting a range of options (click an option, shift+click another option and everything in between is also added) in one go instead of having to click them all one by one.

Somewhat like http://davidstutz.github.io/bootstrap-multiselect/ allows you to do

[2017-12-07 11:05] MiyamuraMiyako commented on #6002
@vinayakkulkarni Thank you very much. All problem solved.

[2017-12-07 11:05] #6002 closed

[2017-12-07 12:46] Myst6971 commented on #5213
Is there any way of extensibility of this function, and not just adding it in built in code?

[2017-12-07 13:46] brunotourinho commented on #5213
@Myst6971, we've been waiting for this implementation for a long time, just like the calendar. Our friend @mdehoog managed to build a separated plugin to it. Maybe we should do the same for the search parameters.

[2017-12-07 14:39] aleksandrabe commented on #1770
Currently I need this feature for my project, it would be very helpful. Will you implement it?

[2017-12-07 18:20] irtek opened #6007 "[Dropdown] Falls down when open sublevel menu in dropdown"
Hi,

If dropdown menu doen's not fit scren on the bottom edge, it falls up and if dropdown has sublevels, when hover to element menu with submenu all menu drop down.

![image](https://user-images.githubusercontent.com/7572261/33731391-ea97418c-dbbd-11e7-97f4-10791bef239f.png)

When hover to "Clothing" in this case, menu fall down.

[2017-12-07 23:08] omarsotillo opened #6008 "[CDN] Last CDN recipe of the web does not work."
Tried downloading and all I found was: Not found

[2017-12-07 23:29] jmking opened #6009 "mantic uio"

[2017-12-07 23:34] MartinKolarik commented on #6008
@omarsotillo is that a link from Semantic's docs?

The correct link is https://cdn.jsdelivr.net/npm/semantic-ui@2.2.13/dist/semantic.min.css
You can find links to all files [on our website](https://www.jsdelivr.com/package/npm/semantic-ui).

[2017-12-07 23:42] MartinKolarik commented on #6008
Looks like the wrong link is mentioned here: https://semantic-ui.com/introduction/advanced-usage.html#cdn-releases

jsDelivr changed the URL format for new releases in May this year, so links in the docs should be updated (it was also mentioned in #5667). Of course, previous releases are still available using the old links as well so this doesn't affect existing users - you just need to use the ne

[2017-12-07 23:44] omarsotillo commented on #6008
Okay! I will open a pull request and change the new links in the docs repo, is that okay? @MartinKolarik

[2017-12-07 23:47] MartinKolarik commented on #6008
@omarsotillo yep, that would be great, I think.

[2017-12-07 23:48] omarsotillo commented on #6008
Super! :bowing_man: Thank you @MartinKolarik!
Doing it now! :dancer:

[2017-12-07 23:55] omarsotillo commented on #6008
Opened pull request here : https://github.com/Semantic-Org/Semantic-UI-Docs/pull/368

[2017-12-08 03:58] imrimt opened #6010 "Form validation broken when upgrading to Rails 5"
I'm not sure if this is actually a `Semantic-UI` problem, or more of a conflict with the app, but I'm just putting it out there in case anybody has encountered this before and had a solution. I tried googling but no use... Hopefully somebody can help shed some light on this matter, or direct me to the right direction.

We are in the process of upgrading our app to Rails 5 from Rails 4, and form va

[2017-12-08 05:47] vinayakkulkarni commented on #6009
Dear @jmking, if you could elaborate what's the bug / issue, I'll re-open this, else it's closed.

[2017-12-08 05:47] #6009 closed

[2017-12-08 05:49] vinayakkulkarni commented on #6008
There's already a PR open: https://github.com/Semantic-Org/Semantic-UI-Docs/pull/353

[2017-12-08 05:49] #6008 closed

[2017-12-08 05:51] jmking commented on #6009
Apologies, looks like someone had a keyboard accident. Please close / delete.

[2017-12-08 05:53] vinayakkulkarni commented on #5999
Dear @chrispaynter,

I'd recommend you fork this[ jsFiddle](https://jsfiddle.net/ca0rovs3/) and present a test-case for further analysis of the issue.

Since this is a usage question, I urge you to ask it in our [Gitter channel](https://gitter.im/Semantic-Org/Semantic-UI) or [Discord Server](https://discord.gg/7vqmGxa)

Closing till there's a test case.

[2017-12-08 05:53] #5999 closed

[2017-12-08 05:54] vinayakkulkarni commented on #6009
@jmking, no worries mate! closed it 🥂

[2017-12-08 05:56] vinayakkulkarni commented on #5970
It's been 2 weeks, yet no test-case.

Will open it once there's a test-case.

[2017-12-08 05:56] #5970 closed

[2017-12-08 06:00] vinayakkulkarni commented on #6010
@imrimt, since this is not something related to Semantic-UI, I am closing it.

I'm sure devs who have similar problems might stumble upon this issue but there's no exact answer.

Since issue is related to Rails and not SUI itself, closing this :)

[2017-12-08 06:00] #6010 closed

[2017-12-08 06:06] vinayakkulkarni commented on #6005
They are currently interchangeable for compatibility reasons.
It appears to separate :link (for instance), which styles a <a>, from :before (which is a structural change).

`: is for styling, :: is for structure.`

So to support older browser, I guess the core team must've used single colon `:`, and for newer browsers, double colon `::`

check this [StackOverflow question](https://stackoverflow.co

[2017-12-08 09:04] kuzeko commented on #6005
Right, my issue was misguiding.
When dealing with pseudo-elments (`::before` `::after`)
the recommended way is to use double colon `::`
So, whenever  there is single colon notation for those two, should be changed.

See the comment on the SO question you link:
https://stackoverflow.com/questions/7327326/what-is-the-difference-between-before-and-before#comment69051287_7327371

[2017-12-08 16:04] imrimt commented on #6010
So I seem to have fixed that problem, but just updating on what happened. Apparently for some reason, this line is not working in `semantic_ui.js`:

`//= require semantic_ui/definitions/behaviors/form.js`

So I just create a seperate `js` file that copies that code for that definition. What is weird is that it only happens to `form` (as far as we can tell), other things like `search` or `tab` stil

[2017-12-08 16:06] renefs commented on #4342
This problem also happens on Firefox 57

[2017-12-09 00:30] mikecann commented on #2882
If you are using React with Semantic UI, you can do something like this:

[code]

Im thinking it should be pretty easy to turn this into a React component for those wishing to.

[2017-12-09 07:02] daneprime8 commented on #614
Is there a solid workaround for this yet? I'm getting the same issue. On first open, it's perfectly centered on the screen. On second open, It's position at the top of the screen. I've tried recommendations here but no luck :/

[2017-12-09 07:03] skwny commented on #614
Is there a solid workaround for this yet? I'm getting the same issue. On first open, it's perfectly centered on the screen. On second open, It's position at the top of the screen. I've tried recommendations here but no luck :/

[2017-12-09 18:02] hasanparasteh commented on #4487
how can I add font awesome icon ??

[2017-12-09 19:59] breytex commented on #5356
Same issue in my project with react semantic.
Any updates on this?

[2017-12-10 07:04] Luis-Chen opened #6011 "Can I add a new color when i use Bulid Tool?"
this is default color list

<img width="390" alt="2017-12-10 14 58 20" src="https://user-images.githubusercontent.com/20965813/33802823-876f75fc-ddbb-11e7-8b76-a0ec16fc7b35.png">

and i want to add a new color

like
`@white          : #FFFFFF`

i try it (i use Sematic-Ui-React)
`<Header color="white">` .it doesnt work

and i change default color code

`@grey           : #A0A0A0;` to
`@grey

[2017-12-10 14:12] Practice0 commented on #614
My solution was to brute force the css ie
$(“#modal”).modal({
   onDeny: ...
   onApprove: ...
}).modal(“show”);

$(“#modal”).attr(“style”, “top: 10px”);

So I replace the inline styles put in by Semantic UI with my own positioning. In my personal case, it hasn’t broken anything else and seems to be consistently working. I also don’t need it to follow an element but just to show up in full-screen

[2017-12-10 17:12] #5857 closed

[2017-12-10 19:12] atrauzzi opened #6012 "Request: Official stylus port"
Would love to see a regularly updated official stylus port.  I'm unfortunately not in a position to adopt gulp and think it would be nice if I could simply define some variables and import the semantic ui stylesheets I need from my modules as part of my webpack build flow.

[2017-12-10 21:27] skwny commented on #614
Thanks for that. Unfortunately I went ahead and made a reusable modal :/ Not as good as semantic but what can you do?

[2017-12-10 23:43] Tmek2304 opened #6013 "Search - Custom value in search"
Hi,

I have a problem, I'm using semantic ui search module and I have items with the same titles but diffrent descriptions, when user select one I'd like to semantic not just select and type in 'title' but description too.

Can I some way customize that?

[2017-12-11 01:23] douglasg14b commented on #4932
Seriously, this is like the forum post where the person replies `nvm, solved it`.

What did you have to do?

[2017-12-11 01:30] nikolaybobrovskiy opened #6014 "Right menu sub-menu expanded to the wrong side"
Hello.

Please, look at this fiddle: http://jsfiddle.net/donnicky/u1zLx2ow/
Sub-menu is opened so it covers dropdown: https://s3.amazonaws.com/donnicky_screenshots/2017-12-11_04-29-49_9055cc1b-9a03-46a3-b101-95120f725931.png

[2017-12-11 07:52] phshy0607 opened #6015 "[Dropdown] render dropdown with new feature 'values', can't get the selected value"
Hello,
please look at this fiddle: http://jsfiddle.net/4a2yuzt6/

I use 'values' to render dropdown, but I can't get selected value from the target dom.

I followed the usage page https://semantic-ui.com/modules/dropdown.html#/usage
but I can't make it solved.

[2017-12-11 10:42] Rodbjartson opened #6017 "Change opacity of LABEL not checkbox"
Hi there.
[code]
When I do this:
`$('#lbl_del').fadeTo("slow", 0.1);`

I not only fade the label, but also the checkbox!
How can I fade ONLY the label, and not the checkbox?

![notdelivered](https://user-images.githubusercontent.com/11444201/33827487-d5502d72-de68-11e7-900a-6f73a7bd125c.png)

[2017-12-11 16:02] jackttcoms opened #6018 "Error with lists CSS not displaying correctly"
Im attempting to use the list functionality for each 2 sentence long points but for some reason if it goes over 1 line it break the design so is there a quick fix?

see the example for what i mean

https://jsfiddle.net/8w79jhh6/

[2017-12-11 17:57] MartinKolarik commented on #6008
@vinayakkulkarni in that case, why not merge it?

[2017-12-11 19:57] kspeakman commented on #3502
Ran into this today, but found that this case is actually already covered and [documented](https://semantic-ui.com/elements/segment.html#compact) (sort of, not the message interaction with compact).

Don't try to put two compact segments next to each other. Instead, wrap them in a "ui compact segments" container. Each containing segment is automatically attached without specifying it and still com

[2017-12-11 20:55] genomics-geek opened #6020 "Infinite Scroll Table using Sticky, Visibility, and Table leads to <tr> cannot appear as a child of <div> warnings"
I have created a table with infinite scroll using Semantic React UI.  However, I get the following warnings:

[code]

Here is the implementation:

[code]

Am I using this correctly?  Are there any examples anyone knows of that I could use?  I asked this question at [Stack Overflow](https://stackoverflow.com/questions/47761148/infinite-scroll-table-using-semantic-ui-react-table-sticky-visibility-co

[2017-12-11 22:13] #6020 closed

[2017-12-12 06:33] arnabmunshi opened #6022 "Andorra Map Not Available on Dropdown menu"

[2017-12-12 09:14] #1006 closed

[2017-12-12 10:05] willstott101 commented on #1847
As an update to this issue this seems to be working and/or added now. A slight remnant of the old hard-coded values remained but I think I've squashed it with https://github.com/Semantic-Org/Semantic-UI/pull/6023

[2017-12-12 10:09] willstott101 commented on #3811
Looking at the code this is because setting the value of the field is considered default behaviour. So by having this callback fire before, you can cancel it by returning `false` from onSelect.
Other frameworks will have a `beforeselect` and `select` event where only the `beforeevent` is able to veto. Perhaps something like that would be useful?

[2017-12-12 10:35] andreyvk commented on #3811
@willstott101 Absolutely agree on that. Just wondering when project will be active again.

[2017-12-12 10:55] willstott101 opened #6024 "[Search] get result does not reliably return the selected item."
`get result` uses the `title` field as the key for item lookup. If the selected item has a title which is a substring of, or equal to, a preceding item, then the lookup returns the wrong item.

I see two solutions:

1. Local search results should be (stable) sorted by the matched field's index in searchFields, followed by the string similarity (just length if not fuzzy).
    * Unfortunately this m

[2017-12-12 11:08] willstott101 commented on #6024
Hm, perhaps I'm abusing search where a dropdown would be more correct... I'm no longer sure it's intended for a Search field to hold a value anyway. Sorry if that's the case.

[2017-12-12 11:50] ashucg commented on #6018
@jackttcoms here is your [quick fix](https://jsfiddle.net/8w79jhh6/1/)

[2017-12-13 11:46] john-osullivan commented on #1770
I'm getting the feeling that Semantic-UI's core maintainer doesn't have enough time to keep it moving, but also has strong feelings about the library's direction/purpose and doesn't want to give up control.

[2017-12-13 12:05] atilkan commented on #5973
@Banandrew Why don't you close this issues. I am testing and experimenting this framework. Number of open issues made scared but they are not scary actually.

[2017-12-13 13:36] johnunclesam opened #6025 "Expanded table in segment?"
I can't find in Docs if there is this:

https://plnkr.co/edit/zIcna8yqlScotLwcZGX9

- **From this:**

![1](https://user-images.githubusercontent.com/21275217/33941420-db9001fc-e012-11e7-9faf-7cf3c0fc8a78.PNG)

- **to this:**

![2](https://user-images.githubusercontent.com/21275217/33941421-dd653d62-e012-11e7-943f-0a6e6e354a4b.PNG)

[2017-12-14 06:28] kevinresol opened #6026 "Form validation not working with dropdown"
Example: go to the [doc](https://semantic-ui.com/behaviors/form.html), in the very first example form, click the submit button of. Note that the `Gender` dropdown is not validated.

![image](https://user-images.githubusercontent.com/1103788/33978449-c17c1b98-e0da-11e7-9e96-0a469c83e3c4.png)

[2017-12-14 08:51] qxsch opened #6027 "ui animated dropdown button does not work"
Wenn adding ``animated`` to a ``ui dropdown button``, the menu will no loger show up

Code to reproduce:
[code]

[2017-12-14 18:05] ngolforoushan commented on #2072
I found adding a new row to database {id:-1, value: null} is the easiest way to deal with this issue.

[2017-12-14 20:06] brandonparsons commented on #5713
Broke my app also.

[2017-12-14 21:41] sethmoore commented on #5784
@Banandrew Do you know how I can get this change reviewed and merged?  Or is there a particular cadence that these are looked at.

[2017-12-14 21:51] Banandrew commented on #5784
@sethmoore Unfortunately, there isn’t, and you’ll just have to wait for the maintainer to review it.

[2017-12-14 22:26] barricas opened #6028 "[Dropdown] When in nested a list, header is not spaced correctly sometimes."
When there is a nested list with a dropdown in the list item header, the dropdown header won't have correct spacings in some of the headers.

It seems the list `margin: 0` rule is overriding the margin from the dropdown header, though the css rules don't refer to the same kind of header.
![headerfix](https://user-images.githubusercontent.com/3952623/34017314-32f0b9f4-e11d-11e7-9a51-db4b63ee24e2.pn

[2017-12-15 03:24] superbull commented on #2584
+1

[2017-12-15 08:16] jaliyaudagedara opened #6029 "Computer only does not work with grid"
We are using  Semantic UI - 2.2.12, and discovered following breakpoints (if I am not mistaken).

- mobile
- tablet
- computer
- large screen
- widescreen

So, if we consider media queries for {breakpoint} only scenarios, It’s like this (if I am not mistaken).

- **mobile**: @media only screen and (max-width: 767px)
- **tablet**: @media only screen and (min-width: 768px) and (max-width: 991px)
- *

[2017-12-15 15:20] piperone commented on #5803
This is also a problem for nested icon menus.

http://jsfiddle.net/n96p8L14/3/

[2017-12-15 20:16] douglasg14b commented on #3902
Wow, thats..... unhelpful.

Problem with ProjectTalk and the chatroom is that there is no good way to see similar questions and answers. The problem with SO is the general lack of knowledge about Semantic UI. Google searches are filled with results for all of these closed issues, further polluting the available knowledge sources.

So much information is siloed away, and some people may never find

[2017-12-15 23:22] GammaGames commented on #1340
I have this issue, a modal with scrolling content where the dropdown is contained inside the modal and just adds height to the content to scroll.
My current workaround is to make the content not scrollable.

[2017-12-16 11:51] gereby opened #6030 "No default jsDelivr CDN file set"
[This package](https://www.jsdelivr.com/package/npm/semantic-ui) doesn't have a [default file](https://www.jsdelivr.com/features#publishing-packages) set. You can set it via `jsdelivr`, `browser`, or `main` field in `package.json`

[2017-12-16 14:36] dpineiden opened #6031 "Mas like google map or openlayer over a model doesn't show...."
Hello.
I have a modal that shows after a first modal, on that modal i have to show a map like google maps or openlayers. The problem is nothing works although i tried a lot...

This js:

https://gist.github.com/dpineiden/bb46178aafe83c34ce7c6e858216bf03

What can be do? Is a problem of the framework?

[2017-12-16 15:29] #6031 closed

[2017-12-16 16:40] andrewferk commented on #5392
@Banandrew @jlukic #4248 did not fix the issue when the menu is vertical and fluid. The example in this issue still does not work.

[2017-12-16 16:44] Banandrew commented on #5392
@andrewferk Thank you.

[2017-12-17 06:37] mekramy opened #6032 "out of frame"
Hi
icons going out of element frame on icon button or anything else! i have a flexbox layout for my site!

![image](https://user-images.githubusercontent.com/2036141/34077164-a9994148-e311-11e7-9172-c960a2c028bc.png)

labeled icon button and drop down crashed!
![image](https://user-images.githubusercontent.com/2036141/34077168-c9d862c2-e311-11e7-9d9a-9d180c766938.png)

what is problem?

[2017-12-17 06:44] dibajam opened #6033 "[Form][Validation] Validate a number range?"
in semantic ui i need to validate a number range same as integer[1..100] but my numbers are decimal too
how can i do that?

[2017-12-17 08:55] Prasadu112 opened #6034 "positioning the semantic modal"
hello,

When the modal gets invoked the modal will be placed down, when i place the mouse on it will be centered!!
Can anyone help me with this issue.

thank u in advance

[2017-12-17 20:14] johnunclesam opened #6035 "semantic-ui@2.2.13 has unmet peer dependency [A LOT]."
With a new installation in a new project I have this on `npm install` or `yarn`:

[code]

**Why?**

- Windows 10
- NodeJS 8.9.3 LTS
- npm@5.6.0
- npx@9.7.1
- yarn@1.3.2

[2017-12-17 21:48] johnunclesam commented on #3453
Using with "overflow: scroll" div today it's a mess with attached table... How to?

[2017-12-18 10:12] taschetto commented on #6035
I have the same issue.

- Ubuntu@17.10
- nodejs@8.9.1
- npm@5.6.0
- yarn@1.3.2

[2017-12-18 10:38] johnunclesam opened #6036 "Responsive horizontal table unstackable, with scroll almost done, just a little problem."
This is the example:

https://plnkr.co/edit/WRXGNFlG1FWrF8rtIVU4?p=preview

You can resize the window to see what I mean:

- **Table in Desktop mode:**
[![Table in Desktop Mode][1]][1]

- **Table in Mobile mode:**
[![Table in Mobile mode][2]][2]

I'm using `display: block` on table. It works good on mobile mode, but not in Desktop mode, as you can see. Why?

**Can we fix this small problem?**

  [

[2017-12-18 11:19] tincdev commented on #5713
a quick workaround

in semantic.js: line 1103

                 if(isRadio) {
                    if(values[name] === undefined || values[name] == false ) {
                     values[name] = (isChecked) ? value || true : false;
                  }

[2017-12-18 11:38] Prasadu112 opened #6037 "how to invoke an click event inside the sidebar"
![image](https://user-images.githubusercontent.com/33145497/34104353-1b2133e8-e416-11e7-8df7-dfb3d00d1351.png)

Can anyone help me with this above code, im new to this semantic ui.
i have 3 buttons inside the sidebar, If any of the button is clicked i want to raise a click event.
can anyone please help me with this

[2017-12-18 11:41] kevinresol commented on #5713
This is still not correct. The value should not be a boolean, but a value of the radio element selected.

[2017-12-18 12:10] tincdev commented on #5713
That what you will have! the value of the selected radio element, but in some case people use radio input without "value" attribute and if you do you will have a boolean value....

[2017-12-18 15:14] kevinresol commented on #5713
ahhh yes you are right, I mis-read the `||`

[2017-12-18 19:59] dlynch29 commented on #5566
I'm having this issue as well. Is this really an enhancement? It seems more like a bug to me, as other dropdown types don't have this behavior.

[2017-12-18 22:58] jackttcoms opened #6040 "Making sidebar open automatically with URL"
I'm trying to build a sidebar launcher where for example you go to https://name.com/index.php?launchsidebar=2 and then it triggers that sidebar to open automatically instead of the user having to click on the button is that possible with javascript/php? thanks

[2017-12-19 07:36] tecoholic opened #6041 "No default jsDelivr CDN file set"
[This package](https://www.jsdelivr.com/package/npm/semantic-ui) doesn't have a [default file](https://www.jsdelivr.com/features#publishing-packages) set. You can set it via `jsdelivr`, `browser`, or `main` field in `package.json`

[2017-12-19 07:36] #6041 closed

[2017-12-19 09:32] ashucg commented on #6040
@jackttcoms you can use the following for JS only approach:
`document.addEventListener('ready', function(){
  let hash = location.hash;
  let id = hash.replace('#', '');
  if(id!=null){
    let sidebar = document.getElementById(id);
    if(sidebar.length>0) $(hash).sidebar('toggle');
  }
});`

URL will be: https://example.com/#sidebar
where "#sidebar" is the element ID

If you want to achieve the

[2017-12-19 09:56] jackttcoms commented on #6040
Thankyou for your quick reply and answer i also forgot to mention that currently the way to launch the sidebar content is done dynamically by fetching the content via ID so do you know a method that will allow me to do what twitter do where they load the modal window with that exact tweet in it so for example https://name.com/#sidebar18 and then it loads the sidebar as well as the data-href="modal

[2017-12-19 10:01] omarsotillo commented on #6008
It looks the docs are quite abandoned no? :-1:
@vinayakkulkarni @MartinKolarik

[2017-12-19 10:25] ashucg commented on #6040
you mean something like [this](https://jsfiddle.net/hkm5maxe/)?

[2017-12-19 10:31] ashucg commented on #5866
@NicoAiko @JamesJGoodwin inspect the dropdown and try to look for `transform` property

[2017-12-19 13:18] chethan1095 commented on #1043
@msalman86 inside this  http://jsfiddle.net/hwc9sLb9/ if i click on home one more sidebar should open can u help me with this

[2017-12-19 13:39] jackttcoms commented on #6040
yes but instead of a sidebar its now a modal window and the content that i want to automatically load is dynamic so if you want to load product 1 info in modal then link will be https://name.com/?product=1 or https://name.com/#product1 is that possible?

thanks

[2017-12-19 13:45] ashucg commented on #6040
@jackttcoms yes, you can use the same onShow [callback](https://semantic-ui.com/modules/modal.html#/settings) to load the content in your modal window

[2017-12-19 14:30] jackttcoms commented on #6040
ok thanks very much but how would i convert this to modal thanks sorry for inconvienience https://jsfiddle.net/hkm5maxe/

[2017-12-19 14:39] kbariotis opened #6044 "Switch to content placeholders (for the loading state)"
Is there a plan of switching to [content placeholders](https://codepen.io/nurulishlah/pen/beEGVE) as opposed to the current loading state with the loading spinner? I believe that a lot of people are switching to it as it provides a much better experience.

Do you think this is something it could be integrated into Semantic UI?

I believe that Facebook first started using it and that they also have

[2017-12-20 01:09] etshy opened #6045 "[checkbox] doesn't change the input's value"
Hi.
I use a Framework (Phalcon) that use the value attribute to set if the checkbox is checked or not at rendering, and I saw that the semantic checkbox doesn't change the value of the input, so the form always send the same value.
That's not really a ocnvenient behaviour, in my opinion, maybe tou could add a bit of js to ensure the input's value change ?

It trigger the `change` event though. I d

[2017-12-20 05:56] ashucg commented on #6040
@jackttcoms [check this example](https://jsfiddle.net/hkm5maxe/1/)

[2017-12-20 15:06] chethan1095 commented on #2801
can anyone help me with this after opening sidebar menu inside that if i click a button it should trigger how to do it for ex: i had a form inside sidebar if i click on save button without entering any values validation messages should come how to do it??

[2017-12-20 15:07] chethan1095 opened #6046 "trigger a click button inside sidebar"
can anyone help me with this after opening sidebar menu inside that if i click a button it should trigger how to do it for ex: i had a form inside sidebar if i click on save button without entering any values validation messages should come how to do it??

[2017-12-20 16:36] GammaGames commented on #5354
Can confirm it is still an issue. Luckily the value I wanted to have a data-value of 0 is a default so I was able to use -1 as a workaround.

[2017-12-20 17:10] kappaknight opened #6048 "Are the 2.2.13 icons actually available?"
I see that the icons page has now been updated with a bunch of new icons in the list: https://semantic-ui.com/elements/icon.html

However, when trying to reference these in my project, they don't appear to be rendering. Do we need to download the CSS or .js files again? Have things updated, but the documentation on the site just haven't updated? 2.2.13 was updated in August, but I know Font Awesom

[2017-12-20 18:00] jackttcoms commented on #6040
that didnt work :(

I need it to not open always open. What im trying to achieve is where i have a link on another website then you click it and its like https://name.com/modal/#embed[id] and then it opens and loads the content for whatever the ID is but if there is just a link like https://name.com/modal/ then i dont want the modal to open

`
$(".toc").click(function() {
var dataURL = $(this).att

[2017-12-20 18:44] jackttcoms commented on #6040
almost where you can load the modal externally so you enter the link
http://www.website.com/page.php?id=[id]#modal
and then when you go to the site the modal will be loaded in automatically and no button needs to be clicked to launch it?

thanks

[2017-12-20 22:27] LearnPhalcon opened #6049 "Model + Embed (Website) = Scrollable Content"
Is it possible to have scrollable content inside modal + embed ? I'm unable to have embed scrollable =(( It works, modal and embed loads correctly with wikipedia page but there is no scrollbars and impossible to scroll with arrow keys or up/down keys. Please help, thank you!

Here is what I have;

[code]

[code]

[2017-12-21 05:09] ashucg commented on #6040
@jackttcoms you need to check conditions using JS for that.

[2017-12-21 06:23] brodeuralexis opened #6050 "Cannot generate docs"
I'm having difficulties generating the docs in order to develop a custom theme for a client.  Generating the docs should be easy and straitfoward, but I've been trying to get it working for a few hours to no avail.

I've created a repo where I installed *Semantic-UI* (`npm init && npm install --save semantic-ui`.  *Semantic-UI* is configured using the default settings:
[code]

Assuming that my rep

[2017-12-21 07:54] blu94 opened #6051 "Popup menu bottom center not working correctly on second show"
The popup menu position not correct on second show, here is my code:
[code]

[code]

![image](https://user-images.githubusercontent.com/16028996/34245890-21f1bfd2-e667-11e7-878d-6420d8134824.png)

![image](https://user-images.githubusercontent.com/16028996/34245911-415b4474-e667-11e7-95ed-d04b03fc01ef.png)

[2017-12-21 09:44] ayastreb commented on #2449
https://moneytracker.cc/ open-source, built with Semantic UI React.

[2017-12-21 13:18] websevendev commented on #5674
If possible it would still be nice to have some sort of a map specifying the relationship between the SUI and FA icon classes, such as

[code]

my use case being Accelerated Mobile Pages where you can only import the normal FontAwesome styles, so if the main website is using Semantic UI icon naming then on AMP pages the classes need to be remapped in order to be displayed.

[2017-12-21 15:57] GammaGames commented on #6048
Which icons are you trying to use? I did a little checking and couldn't find any in a short period of time

[2017-12-21 17:02] arobida commented on #6037
$("#back").click(function() {

}
$("#updatedetails").click(function() {

}
// Needs a different id
$("#refresh").click(function() {

}

[2017-12-22 06:04] jlukic commented on #5983
It's still maintained, my time has been a bit fuzzy recently, but I plan on trying to get a few essential things out over the holidays.

[2017-12-22 06:08] jlukic commented on #5713
I'll look at this over the hoildays.

[2017-12-22 13:49] kevinresol commented on #5983
@jlukic Will you consider setting up Patreon (or other source of funding) so people can financially support the project? https://github.com/Semantic-Org/Semantic-UI/issues/2201

[2017-12-22 14:36] dasa123 opened #6052 "[Embed] Add Youtube videos with "rel" parameter"
It would be nice to be able to set the "rel" parameter (https://developers.google.com/youtube/player_parameters?hl=en#rel).

e.g.
[code]

 I made the following change. But, it doesn't work.
[code]

[2017-12-22 21:39] GammaGames opened #6053 "Ability to add a progress bar to a table row"
Currently you can attach a bar to a table row, but it appears to only be the width of the first cell.

![image](https://user-images.githubusercontent.com/7832163/34312930-d9c8043c-e724-11e7-8d95-7a998c032fbc.png)

The code for this is:

[code]

It would be nice to have the option to have the progress bar be the width of either the first cell or the whole row.

[2017-12-22 23:35] turgodi opened #6054 "[Sidebar] - Pusher content should scroll smoothly on iOS devices"
I am using Semantic UI 2.2 (native) with Angular 5.
It seems like the scroll behavior in a 'pusher' class is not normal.
The native iOS scrolling is overwritten by the Semantic UI scrollbar and the native scrolling behavior is broken.
The problem does not occur on the PC version, neither on computers running the webapp on a regular monitor size.

Here is a link of a video with the expected behavio

[2017-12-23 20:42] douglasg14b commented on #5028
One thing hurting this library is the general lack of information, and very poor support for things like this.

Google is filled with github issue links that are just shut down due to some draconic rules, and links provided to dead sources of knowledge.

[2017-12-23 22:14] cyclingengineer commented on #4757
@vixandrade - I also used this. @nicktc it's all a bit confusing as to why semantic.json is put by default outside the semantic folder.

[2017-12-24 14:24] bj1612 commented on #584
<!DOCTYPE html>
<html>
<head>
	<title>dimmer</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"

[2017-12-24 23:50] yahyaerturan commented on #6035
Same here. I have installed all dependencies with yarn manually but this line `semantic-ui@2.2.13" has unmet peer dependency "gulp-util@*".` stays in tact though it is installed.

[2017-12-25 13:12] shadoWalker89 opened #6055 "[Checkbox] Are not working with vuejs"
Hi,

I found this issue https://github.com/vuejs/vue/issues/4769 on the vuejs repository, it has all the needed information, jsfiddle samples and a response from the owner of vuejs.

-------------------------------
EDIT : I changed the checkbox.js code and i replaced the `hidden` class with empty string and everything is working fine.

Unrelated to the checkbox, tabs, menu dropdown are not working

[2017-12-25 15:10] fendy3002 commented on #5696
This is caused by bug at Gulp Clean CSS tools (or minifyCSS task in semantic ui's gulp). It caused the webpack to try to resolve the path as module path (node_modules one) instead of relative path.

One of the workaround I found is to modify `config/tasks.js` configuration file. Add `rebase: false` attribute to both `settings.minify` and `settings.concatMinify` then rebuild (clean first for sure)

[2017-12-25 16:21] shadoWalker89 commented on #6055
Turns out if you initialize semantic ui components that exists within your vuejs container before initializing vuejs first, these components will be borken.

The solution is to your initialize global semantic ui js code within the vuejs mounted life cycle hook

[2017-12-25 16:21] #6055 closed

[2017-12-26 06:01] eleoz opened #6056 "You may need a suitable loader to handle this file type."
React project
import'semantic-ui-css / semantic.min.css';
png eot woff2 woff ttf svg...
![2017-12-26_135249](https://user-images.githubusercontent.com/28944573/34348369-19a6a482-ea45-11e7-97a7-63eac9106fa5.png)
![2017-12-26_135310](https://user-images.githubusercontent.com/28944573/34348374-243873c6-ea45-11e7-8f04-7ed23d5fba69.png)

[2017-12-26 06:28] #6056 closed

[2017-12-26 07:55] prasadpilla commented on #5222
Hey guys, any update on this. I'm facing the same issue now.
#3429 is closed and this one closed as well

Where is it being fixed ?

[2017-12-26 13:09] yudyananda opened #6057 "Some Icon Didn't Work"
Hi folks

I'm working locally and using Semantic UI for my blog design, and recenlty try the icon set.
It work fine for the icon with 1 attribute like *list icon* *book icon*, the problem appears when i use the icon that have more than 1 attribute like *id card*, it just show a blank square

Any ideas?

[2017-12-27 09:02] itsashis4u commented on #5322
@Banandrew Any update?

[2017-12-27 10:20] Banandrew commented on #5322
@itsashis4u No. I can’t answer it, because I’m not maintaining the project.

[2017-12-27 14:30] maateen commented on #6057
When I set `@icon     : 'default';` in my **theme.config** and build with gulp, the icon never shows. But When I set `@icon     : 'basic';`, it works like a charm.

Another thing: Icon Set classes aren't matching the icons.

[2017-12-28 03:22] em commented on #280
There's never a good reason to use !important . Unless you have no control over the DOM or external stylesheets. Which is never the case. As someone theming semantic this is a constant headache and makes my own code bad.

@jlukic I don't really understand your argument. If a class, or context, changes the style of something, then you get greater specificity and problem solved. Perhaps you could pr

[2017-12-28 07:50] akxlr opened #6058 "Dropdown not cancelling requests if throttleFirstRequest is true"
The dropdown component does not correctly cancel pending requests in some situations, resulting in dropdown responses being rendered to the control out of order if the responses arrive out of order. This appears to be related to the `throttleFirstRequest` property - the example below works as expected if `throttleFirstRequest: false` is supplied.

- [Example of bug](https://jsfiddle.net/633h2wdx/)

[2017-12-28 09:37] makedonets opened #6060 "modal"
Hi! I have some probles with modal.
`$(document).ready(function() {
    $('.ui.modal')
              .modal('attach events', '.show.button', 'show');
});`

I must have different modal for different buttons. How i can do this?

[2017-12-29 05:01] yudyananda commented on #6057
@maateen

thanks alot 👍

[2017-12-29 05:01] #6057 closed

[2017-12-29 16:54] AhmadMWaddah commented on #16
with me Firefox Icons not working but same file work with chromium Ubuntu

[2017-12-29 22:14] kbariotis commented on #6044
React implementation: https://github.com/danilowoz/react-content-loader

[2017-12-30 22:00] val-samonte opened #6061 "Error evaluating function `round`: argument must be a number"
Scenario:

- I ejected from create-react-app
- Configured webpack in order to include less-loader so that I can get the custom theming (following this blog post: https://medium.com/webmonkeys/webpack-2-semantic-ui-theming-a216ddf60daf)
- Successfully configured everything and webpack now sees the custom theme, however I am receiving this issue:

[code]

I have the following libs installed:
less: ^

[2017-12-30 22:17] val-samonte commented on #6061
Closing this issue.
The problem was I included the strictMath option to the less loader and set it to true, hence the problem with the calculations.

[2017-12-30 22:17] #6061 closed

[2017-12-31 05:59] Pape98 opened #6062 "Sidebar creates pushable class which changes background color and also body height is about 20% of screen."
I am making a website using semantic ui as my framework and everything looks fine except when I click on the sidebar icon for the sidebar menu to pop up, the background image disappears that I've set using

    $body {
	    background:url('https://lostandtaken.com/wpcontent/uploads/2010/04/141-1560x1170.jpg');
    }
and that worked fine. But it disappears as soon as the sidebar menu pops up. I tri

[2018-01-01 13:15] TheDancingCode opened #6063 "Replace deprecated dependency gulp-util"
[`gulp-util`](https://www.npmjs.com/package/gulp-util) has been deprecated recently.

The [README.md](https://github.com/gulpjs/gulp-util) lists alternatives for all the components so a simple replacement should be enough.

Your package is popular but still relying on `gulp-util`, it would be good to publish a fixed version to npm as soon as possible.

See:
- https://medium.com/gulpjs/gulp-util-ca

[2018-01-01 21:40] Niputi opened #6064 "[Dropdown] - Multiple Search Selection should not alter its size in a modal"
I have created a [jsfiddle](https://jsfiddle.net/w5yqLopt/1/) which shows the problem with many options in a modal where the dropdown becomes wider and wider the more options are added

Edit
steps
1. have many options in Multiple Search Selection dopdown
2. open the dropdown and keep adding the options

[2018-01-01 23:48] italomaia opened #6065 "Center aligned fluid buttons"
[code]

Shouldn't the buttons text above be center aligned? Adding "center aligned" also changes nothing.

[2018-01-02 08:21] georgeno1422 opened #6066 "Semantic Modal does not "center" at the middle of the page"
Hello All,
I'm working on a personal project using dummy data as the front end guy.
When using Semantic, i've experienced good times, but using MODAL stresses me out as it doesnt work.
Semantic Modal does not "center" at the middle of the page, instead, when it opens, a certain "top: 0px;" shows up in the CSS inspect section of the browser. When I uncheck the property, the modal returns to center

[2018-01-02 17:12] JeremyIoThink commented on #5901
Hi, I face the same issue and after some search it append that it was due to my trigger selector. I've setup the title as main selector.

$(".ui.accordion").accordion({
        exclusive: false,
        closeNested: false,
        selector: {
            trigger: ".title"
        }
    });

As the event binding use JQuery 'on' method to setup event bindings the event is fired as many times as it f

[2018-01-02 19:28] bw2 commented on #1158
I just created a copy of semantic.css and deleted (almost) all *transition* and *animation* properties.

[2018-01-02 21:14] msjonker commented on #2449
http://pricehacker.net is built with Semantic UI React.

[2018-01-03 00:40] nestorvanz opened #6067 "gulp build is not building semantic.min.css"
In a fresh installation i am running "gulp build" but in the "dist" folder is not present semantic.min.css, theres only the semantic.min.js,  "components" and "themes" folder.

[2018-01-03 08:46] danielfoxp2 commented on #3965
Hi, everybody!

Is there any news about this?

It would be awesome to have the floating label pattern in Semantic UI.

[2018-01-03 10:46] wwp66650 commented on #6067
I also have this issue

[2018-01-03 10:52] aschrijver commented on #5551
I have a whole bunch of errors on a clean install of `version 2.2.13` in an existing project with all default settings (`/semantic` directory and defaults in `semantic.json`). Tried placing `semantic.json` in root and in `/semantic` subdir.. same results:

[code]

[2018-01-03 11:59] himanshu230 commented on #6067
I had the same issue
I solved it by changing the build-css gulp task.
Following are the changes I made:
In file tasks/build/css.js in semantic folder, remove the following line
`compressedStream   = stream.pipe(clone());
 `

[2018-01-03 12:09] willshu2049 opened #6068 "Attach left table to right table"
For `Table`, you can only attach top and bottom elements, but not left to right elements. But I want to attached a left column to a scroll-able right table, like below. Is this a feature that hasn't been implemented yet? Or do I miss something?

![1514981155 1](https://user-images.githubusercontent.com/17844428/34519984-b8550754-f0c1-11e7-86dd-4415cf9747bc.jpg)